Repository bruits/sampo, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, devops, dependencies, crt:sampo, crt:sampo-core, crt:sampo-github-action, crt:sampo-github-bot

.github/labeler.yml:

# Configuration for automatic PR labeling
# See: https://github.com/actions/labeler

# Add 'documentation' label to any change in documentation
"documentation":
  - "**/*.md"
  - "docs/**"

# Add 'devops' label to any change in configuration files
"devops":
  - ".github/**"
  - ".vscode/**"
  - ".zed/**"
  - ".editorconfig"
  - ".gitignore"

# Add 'dependencies' label to dependency changes
"dependencies":
  - "**/Cargo.toml"
  - "**/Cargo.lock"

# Add crate/package specific labels
"crt:sampo":
  - "crates/sampo/**"
"crt:sampo-core":
  - "crates/sampo-core/**"
"crt:sampo-github-action":
  - "crates/sampo-github-action/**"
"crt:sampo-github-bot":
  - "crates/sampo-github-bot/**"

better erros
  crates/sampo-core/src/changeset.rs
  crates/sampo-core/src/config.rs
  crates/sampo-core/src/errors.rs
  crates/sampo-core/src/publish.rs
  crates/sampo-core/src/workspace.rs
  crates/sampo-github-bot/src/main.rs
  crates/sampo/src/main.rs
Labels: crt:sampo, crt:sampo-core, crt:sampo-github-bot

format
  crates/sampo-core/src/changeset.rs
  crates/sampo-core/src/filters.rs
  crates/sampo-core/src/lib.rs
  crates/sampo-core/src/publish.rs
  crates/sampo-core/src/release.rs
  crates/sampo-core/src/workspace.rs
  crates/sampo/src/add.rs
  crates/sampo/src/publish.rs
  crates/sampo/src/release.rs
Labels: crt:sampo, crt:sampo-core

bot errors
  crates/sampo-github-bot/src/error.rs
  crates/sampo-github-bot/src/main.rs
Labels: crt:sampo-github-bot

changeset
  .sampo/changesets/pompous-stormcaller-tuoni.md
Labels: documentation

BotError & format
  crates/sampo-github-bot/src/error.rs
  crates/sampo-github-bot/src/main.rs
Labels: crt:sampo-github-bot

refactor: better errors (#53)
  .sampo/changesets/pompous-stormcaller-tuoni.md
  AGENTS.md
  Cargo.lock
  crates/sampo-core/src/changeset.rs
  crates/sampo-core/src/config.rs
  crates/sampo-core/src/errors.rs
  crates/sampo-core/src/filters.rs
  crates/sampo-core/src/lib.rs
  crates/sampo-core/src/publish.rs
  crates/sampo-core/src/release.rs
  crates/sampo-core/src/release_tests.rs
  crates/sampo-core/src/workspace.rs
  crates/sampo-github-action/Cargo.toml
  crates/sampo-github-action/src/error.rs
  crates/sampo-github-action/src/git.rs
  crates/sampo-github-action/src/github.rs
  crates/sampo-github-action/src/main.rs
  crates/sampo-github-action/src/sampo.rs
  crates/sampo-github-bot/src/error.rs
  crates/sampo-github-bot/src/main.rs
  crates/sampo/src/add.rs
  crates/sampo/src/init.rs
  crates/sampo/src/main.rs
  crates/sampo/src/publish.rs
  crates/sampo/src/release.rs
Labels: documentation, dependencies, crt:sampo, crt:sampo-core, crt:sampo-github-action, crt:sampo-github-bot

fix(github): better hints for discussions errors
  .github/workflows/publish.yml
  .sampo/changesets/chivalrous-forgemaster-erika.md
  crates/sampo-github-action/README.md
  crates/sampo-github-action/action.yml
  crates/sampo-github-action/src/github.rs
Labels: documentation, devops, crt:sampo-github-action

feat(release): lockfile regeneration
  .sampo/changesets/sullen-queen-otso.md
  crates/sampo-core/src/release.rs
Labels: documentation, crt:sampo-core

first draft
  .sampo/changesets/chivalrous-forgemaster-erika.md
  .sampo/changesets/pompous-stormcaller-tuoni.md
  .sampo/changesets/sullen-queen-otso.md
  Cargo.lock
  crates/sampo-core/Cargo.toml
  crates/sampo-core/src/changeset.rs
  crates/sampo-core/src/release.rs
  crates/sampo-core/src/release_tests.rs
  crates/sampo-github-action/src/sampo.rs
  crates/sampo-github-action/tests/integration.rs
  crates/sampo/README.md
  crates/sampo/src/add.rs
Labels: documentation, dependencies, crt:sampo, crt:sampo-core, crt:sampo-github-action

changeset
  .sampo/changesets/stern-wavetamer-mielikki.md
Labels: documentation

polish
  crates/sampo-core/src/changeset.rs
  crates/sampo-core/src/release_tests.rs
Labels: crt:sampo-core

polish + review
  crates/sampo-core/src/changeset.rs
  crates/sampo-core/src/types.rs
Labels: crt:sampo-core

doc + better errors
  README.md
  crates/sampo-core/README.md
  crates/sampo-core/src/changeset.rs
  crates/sampo-github-action/README.md
  crates/sampo-github-action/src/error.rs
  crates/sampo-github-bot/README.md
  crates/sampo/README.md
Labels: documentation, crt:sampo, crt:sampo-core, crt:sampo-github-action, crt:sampo-github-bot

feat(sampo-core): use changesets format (#56)
  .sampo/changesets/chivalrous-forgemaster-erika.md
  .sampo/changesets/pompous-stormcaller-tuoni.md
  .sampo/changesets/stern-wavetamer-mielikki.md
  .sampo/changesets/sullen-queen-otso.md
  Cargo.lock
  README.md
  crates/sampo-core/Cargo.toml
  crates/sampo-core/README.md
  crates/sampo-core/src/changeset.rs
  crates/sampo-core/src/release.rs
  crates/sampo-core/src/release_tests.rs
  crates/sampo-core/src/types.rs
  crates/sampo-github-action/README.md
  crates/sampo-github-action/src/error.rs
  crates/sampo-github-action/src/sampo.rs
  crates/sampo-github-action/tests/integration.rs
  crates/sampo-github-bot/README.md
  crates/sampo/README.md
  crates/sampo/src/add.rs
Labels: documentation, dependencies, crt:sampo, crt:sampo-core, crt:sampo-github-action, crt:sampo-github-bot

feat(github-action): binary upload support and multi-platform builds
  crates/sampo-github-action/README.md
  crates/sampo-github-action/action.yml
  crates/sampo-github-action/src/github.rs
  crates/sampo-github-action/src/main.rs
Labels: documentation, crt:sampo-github-action

changeset
  .sampo/changesets/doughty-count-ahti.md
Labels: documentation

update doc
  crates/sampo-github-action/action.yml
Labels: crt:sampo-github-action

fix review
  .github/workflows/publish.yml
  crates/sampo-github-action/README.md
  crates/sampo-github-action/action.yml
  crates/sampo-github-action/src/github.rs
  crates/sampo-github-action/src/main.rs
Labels: documentation, devops, crt:sampo-github-action

fix review
  .github/workflows/publish.yml
  crates/sampo-github-action/README.md
Labels: documentation, devops, crt:sampo-github-action

feat(sampo-github-action): publish binaries (#57)
  .github/workflows/publish.yml
  .sampo/changesets/doughty-count-ahti.md
  crates/sampo-github-action/README.md
  crates/sampo-github-action/action.yml
  crates/sampo-github-action/src/github.rs
  crates/sampo-github-action/src/main.rs
Labels: documentation, devops, crt:sampo-github-action

refactor(sampo-github-action): unify release workflow
  .github/workflows/release-pr.yml
  .github/workflows/release.yml
  .sampo/changesets/sullen-earl-vainamoinen.md
  crates/sampo-github-action/README.md
  crates/sampo-github-action/action.yml
  crates/sampo-github-action/src/main.rs
  crates/sampo-github-action/tests/integration.rs
Labels: documentation, devops, crt:sampo-github-action

better tests
  .sampo/changesets/sullen-earl-vainamoinen.md
  crates/sampo-github-action/README.md
  crates/sampo-github-action/tests/integration.rs
Labels: documentation, crt:sampo-github-action

doc
  crates/sampo-github-action/README.md
  crates/sampo-github-action/src/main.rs
Labels: documentation, crt:sampo-github-action

refactor(sampo-github-action): unify release workflow (#60)
  .github/workflows/release-pr.yml
  .github/workflows/release.yml
  .sampo/changesets/sullen-earl-vainamoinen.md
  crates/sampo-github-action/README.md
  crates/sampo-github-action/action.yml
  crates/sampo-github-action/src/main.rs
  crates/sampo-github-action/tests/integration.rs
Labels: documentation, devops, crt:sampo-github-action

fix(release): install Rust targets for binary releases
  .github/workflows/release.yml
Labels: devops

first draft
  Cargo.lock
  crates/sampo-core/src/changeset.rs
  crates/sampo/Cargo.toml
  crates/sampo/src/add.rs
Labels: dependencies, crt:sampo, crt:sampo-core

error when no packages detected
  crates/sampo/src/add.rs
Labels: crt:sampo

changeset
  .sampo/changesets/majestic-runesmith-ilmatar.md
Labels: documentation

feat(sampo): nicer `sampo add` ux (#62)
  .sampo/changesets/majestic-runesmith-ilmatar.md
  Cargo.lock
  crates/sampo-core/src/changeset.rs
  crates/sampo/Cargo.toml
  crates/sampo/src/add.rs
Labels: documentation, dependencies, crt:sampo, crt:sampo-core

feat(sampo): nicer `sampo add` ux (#62)
  .sampo/changesets/majestic-runesmith-ilmatar.md
  .sampo/changesets/noble-runesinger-hiisi.md
  Cargo.lock
  crates/sampo-core/src/changeset.rs
  crates/sampo-core/src/enrichment.rs
  crates/sampo/Cargo.toml
  crates/sampo/src/add.rs
Labels: documentation, dependencies, crt:sampo, crt:sampo-core

fix(sampo-cote): normalize package names
  .sampo/changesets/stalwart-duke-ilmatar.md
  .sampo/changesets/stalwart-firebringer-erika.md
  crates/sampo-core/src/changeset.rs
  crates/sampo-core/src/release_tests.rs
Labels: documentation, crt:sampo-core

feat(sampo-core): add branch detection and git configuration
  crates/sampo-core/src/config.rs
  crates/sampo-core/src/git.rs
  crates/sampo-core/src/lib.rs
  crates/sampo-core/src/publish.rs
  crates/sampo-core/src/release.rs
  crates/sampo-core/src/release_tests.rs
  crates/sampo-github-action/README.md
  crates/sampo-github-action/src/main.rs
  crates/sampo/README.md
Labels: documentation, crt:sampo, crt:sampo-core, crt:sampo-github-action

changesets
  .sampo/changesets/chivalrous-firebringer-vainamoinen.md
  .sampo/changesets/somber-duke-sampsa.md
  crates/sampo-github-action/src/main.rs
Labels: documentation, crt:sampo-github-action

polish
  crates/sampo-github-bot/src/main.rs
  crates/sampo/README.md
Labels: documentation, crt:sampo, crt:sampo-github-bot

better tests
  crates/sampo-core/src/publish.rs
  crates/sampo-core/src/release_tests.rs
  crates/sampo-github-action/src/main.rs
  crates/sampo-github-action/src/sampo.rs
  crates/sampo-github-action/tests/integration.rs
Labels: crt:sampo-core, crt:sampo-github-action

improve env handling with mutex locking
  crates/sampo-core/src/publish.rs
  crates/sampo-core/src/release_tests.rs
  crates/sampo-github-action/src/sampo.rs
  crates/sampo-github-action/tests/integration.rs
Labels: crt:sampo-core, crt:sampo-github-action

feat(sampo-core): add branch detection and git configuration (#66)
  .sampo/changesets/chivalrous-firebringer-vainamoinen.md
  .sampo/changesets/somber-duke-sampsa.md
  crates/sampo-core/src/config.rs
  crates/sampo-core/src/git.rs
  crates/sampo-core/src/lib.rs
  crates/sampo-core/src/publish.rs
  crates/sampo-core/src/release.rs
  crates/sampo-core/src/release_tests.rs
  crates/sampo-github-action/README.md
  crates/sampo-github-action/src/main.rs
  crates/sampo-github-action/src/sampo.rs
  crates/sampo-github-action/tests/integration.rs
  crates/sampo-github-bot/src/main.rs
  crates/sampo/README.md
Labels: documentation, crt:sampo, crt:sampo-core, crt:sampo-github-action, crt:sampo-github-bot

feat(sampo-core): support for pre-release versioning
  .sampo/changesets/venerable-iceseeker-otso.md
  Cargo.lock
  crates/sampo-core/Cargo.toml
  crates/sampo-core/src/release.rs
  crates/sampo-core/src/release_tests.rs
  crates/sampo/README.md
Labels: documentation, dependencies, crt:sampo, crt:sampo-core

feat(sampo-github-action): add support for pre-release branches
  .sampo/changesets/cunning-seer-kullervo.md
  .sampo/changesets/venerable-iceseeker-otso.md
  Cargo.lock
  crates/sampo-github-action/Cargo.toml
  crates/sampo-github-action/README.md
  crates/sampo-github-action/src/github.rs
  crates/sampo-github-action/src/main.rs
  crates/sampo-github-action/tests/integration.rs
Labels: documentation, dependencies, crt:sampo-github-action

clippy + format
  crates/sampo-core/src/release.rs
  crates/sampo-github-action/src/main.rs
  crates/sampo-github-action/tests/integration.rs
Labels: crt:sampo-core, crt:sampo-github-action
