Repository bruits/sampo, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, devops, dependencies, crt:sampo, crt:sampo-core, crt:sampo-github-action, crt:sampo-github-bot

.github/labeler.yml:

# Configuration for automatic PR labeling
# See: https://github.com/actions/labeler

# Add 'documentation' label to any change in documentation
"documentation":
  - "**/*.md"
  - "docs/**"

# Add 'devops' label to any change in configuration files
"devops":
  - ".github/**"
  - ".vscode/**"
  - ".zed/**"
  - ".editorconfig"
  - ".gitignore"

# Add 'dependencies' label to dependency changes
"dependencies":
  - "**/Cargo.toml"
  - "**/Cargo.lock"

# Add crate/package specific labels
"crt:sampo":
  - "crates/sampo/**"
"crt:sampo-core":
  - "crates/sampo-core/**"
"crt:sampo-github-action":
  - "crates/sampo-github-action/**"
"crt:sampo-github-bot":
  - "crates/sampo-github-bot/**"

feat(core): tags config for Keep a Changelog style sections
  .sampo/changesets/cantankerous-witch-otso.md
  crates/sampo-core/src/changeset.rs
  crates/sampo-core/src/config.rs
  crates/sampo-core/src/lib.rs
  crates/sampo-core/src/release.rs
  crates/sampo-core/src/release_tests.rs
  crates/sampo-core/src/types.rs
  crates/sampo-github-action/src/sampo.rs
  crates/sampo-github-bot/src/changeset.rs
  crates/sampo/README.md
Labels: documentation, crt:sampo, crt:sampo-core, crt:sampo-github-action, crt:sampo-github-bot

rename changelog.tags to changesets.tags
  .sampo/changesets/cantankerous-witch-otso.md
  crates/sampo-core/src/changeset.rs
  crates/sampo-core/src/config.rs
  crates/sampo-core/src/release.rs
  crates/sampo-core/src/release_tests.rs
  crates/sampo-core/src/types.rs
  crates/sampo-github-action/src/sampo.rs
  crates/sampo/README.md
Labels: documentation, crt:sampo, crt:sampo-core, crt:sampo-github-action

feat(bot): display custom tags in PR changeset preview
  crates/sampo-github-bot/src/changeset.rs
Labels: crt:sampo-github-bot

feat(cli): tag selection dialog
  crates/sampo/src/add.rs
Labels: crt:sampo

bot changesets
  .sampo/changesets/doughty-baroness-ahti.md
Labels: documentation

feat: changesets.tags for Keep a Changelog-like formats (#158)
  .sampo/changesets/cantankerous-witch-otso.md
  .sampo/changesets/doughty-baroness-ahti.md
  crates/sampo-core/src/changeset.rs
  crates/sampo-core/src/config.rs
  crates/sampo-core/src/lib.rs
  crates/sampo-core/src/release.rs
  crates/sampo-core/src/release_tests.rs
  crates/sampo-core/src/types.rs
  crates/sampo-github-action/src/sampo.rs
  crates/sampo-github-bot/src/changeset.rs
  crates/sampo/README.md
  crates/sampo/src/add.rs
Labels: documentation, crt:sampo, crt:sampo-core, crt:sampo-github-action, crt:sampo-github-bot

fix(workspace): sampo directory ssot for workspace discovery
  .sampo/changesets/steadfast-witch-nyyrikki.md
  crates/sampo-core/src/errors.rs
  crates/sampo-core/src/lib.rs
  crates/sampo-core/src/prerelease.rs
  crates/sampo-core/src/publish.rs
  crates/sampo-core/src/release_tests.rs
  crates/sampo-core/src/workspace.rs
  crates/sampo-github-action/src/main.rs
  crates/sampo-github-action/tests/integration.rs
  crates/sampo/src/add.rs
  crates/sampo/src/init.rs
Labels: documentation, crt:sampo, crt:sampo-core, crt:sampo-github-action

core changeset
  .sampo/changesets/dashing-duke-aurelien.md
Labels: documentation

feat(github-action): filtering open-discussion by package names
  .github/workflows/release.yml
  .sampo/changesets/roguish-count-tapio.md
  crates/sampo-github-action/README.md
  crates/sampo-github-action/action.yml
  crates/sampo-github-action/src/main.rs
Labels: documentation, devops, crt:sampo-github-action

feat(github-action): filtering open-discussion by package names (#162)
  .github/workflows/release.yml
  .sampo/changesets/roguish-count-tapio.md
  crates/sampo-github-action/README.md
  crates/sampo-github-action/action.yml
  crates/sampo-github-action/src/main.rs
Labels: documentation, devops, crt:sampo-github-action

fix(cli): sampo directory ssot for workspace discovery (#160)
  .sampo/changesets/dashing-duke-aurelien.md
  .sampo/changesets/steadfast-witch-nyyrikki.md
  crates/sampo-core/src/errors.rs
  crates/sampo-core/src/lib.rs
  crates/sampo-core/src/prerelease.rs
  crates/sampo-core/src/publish.rs
  crates/sampo-core/src/release_tests.rs
  crates/sampo-core/src/workspace.rs
  crates/sampo-github-action/src/main.rs
  crates/sampo-github-action/tests/integration.rs
  crates/sampo/src/add.rs
  crates/sampo/src/init.rs
Labels: documentation, crt:sampo, crt:sampo-core, crt:sampo-github-action

feat(cli): hint users for newer version
  .sampo/changesets/bold-stormcaller-louhi.md
  Cargo.lock
  crates/sampo/Cargo.toml
  crates/sampo/src/main.rs
  crates/sampo/src/ui.rs
  crates/sampo/src/version_check.rs
Labels: documentation, dependencies, crt:sampo

feat(cli): hint users for newer version (#166)
  .sampo/changesets/bold-stormcaller-louhi.md
  Cargo.lock
  crates/sampo/Cargo.toml
  crates/sampo/src/main.rs
  crates/sampo/src/ui.rs
  crates/sampo/src/version_check.rs
Labels: documentation, dependencies, crt:sampo

feat(cli): sampo update command
  .github/PULL_REQUEST_TEMPLATE.md
  Cargo.lock
  crates/sampo/Cargo.toml
  crates/sampo/README.md
  crates/sampo/src/cli.rs
  crates/sampo/src/main.rs
  crates/sampo/src/ui.rs
  crates/sampo/src/update.rs
Labels: documentation, devops, dependencies, crt:sampo

add pre-release flag
  crates/sampo/src/cli.rs
  crates/sampo/src/update.rs
Labels: crt:sampo

changeset
  .sampo/changesets/grumpy-runesmith-otso.md
Labels: documentation

update version check to query GitHub Releases
  crates/sampo/src/version_check.rs
Labels: crt:sampo

feat(cli): sampo update command (#168)
  .github/PULL_REQUEST_TEMPLATE.md
  .sampo/changesets/grumpy-runesmith-otso.md
  Cargo.lock
  crates/sampo/Cargo.toml
  crates/sampo/README.md
  crates/sampo/src/cli.rs
  crates/sampo/src/main.rs
  crates/sampo/src/ui.rs
  crates/sampo/src/update.rs
  crates/sampo/src/version_check.rs
Labels: documentation, devops, dependencies, crt:sampo

feat(pypi): add PyPI adapter for package discovery and publishing
  .sampo/changesets/gallant-stormcaller-otso.md
  crates/sampo-core/src/adapters.rs
  crates/sampo-core/src/adapters/npm.rs
  crates/sampo-core/src/adapters/pypi.rs
  crates/sampo-core/src/adapters/pypi/pip.rs
  crates/sampo-core/src/adapters/pypi/pip/pip_tests.rs
  crates/sampo-core/src/adapters/pypi/pypi_tests.rs
  crates/sampo-core/src/enrichment.rs
  crates/sampo-core/src/filters.rs
  crates/sampo-core/src/lib.rs
  crates/sampo-core/src/prerelease.rs
  crates/sampo-core/src/publish.rs
  crates/sampo-core/src/release.rs
  crates/sampo-core/src/types.rs
  crates/sampo-core/src/workspace.rs
  crates/sampo-github-action/README.md
  crates/sampo/src/init.rs
Labels: documentation, crt:sampo, crt:sampo-core, crt:sampo-github-action

feat(core/pypi): python package discovery and publishing (#170)
  .sampo/changesets/gallant-stormcaller-otso.md
  crates/sampo-core/src/adapters.rs
  crates/sampo-core/src/adapters/npm.rs
  crates/sampo-core/src/adapters/pypi.rs
  crates/sampo-core/src/adapters/pypi/pip.rs
  crates/sampo-core/src/adapters/pypi/pip/pip_tests.rs
  crates/sampo-core/src/adapters/pypi/pypi_tests.rs
  crates/sampo-core/src/enrichment.rs
  crates/sampo-core/src/filters.rs
  crates/sampo-core/src/lib.rs
  crates/sampo-core/src/prerelease.rs
  crates/sampo-core/src/publish.rs
  crates/sampo-core/src/release.rs
  crates/sampo-core/src/types.rs
  crates/sampo-core/src/workspace.rs
  crates/sampo-github-action/README.md
  crates/sampo/src/init.rs
Labels: documentation, crt:sampo, crt:sampo-core, crt:sampo-github-action

feat(core/packagist): PHP package discovery and publishing
  .sampo/changesets/dashing-forgemaster-marjatta.md
  README.md
  crates/sampo-core/src/adapters.rs
  crates/sampo-core/src/adapters/packagist.rs
  crates/sampo-core/src/filters.rs
  crates/sampo-core/src/prerelease.rs
  crates/sampo-core/src/publish.rs
  crates/sampo-core/src/release.rs
  crates/sampo-core/src/types.rs
  crates/sampo/README.md
Labels: documentation, crt:sampo, crt:sampo-core

fix(core/enrichment): credit changeset original creator
  .sampo/changesets/dashing-baron-marjatta.md
  crates/sampo-core/src/adapters/hex.rs
  crates/sampo-core/src/adapters/npm.rs
  crates/sampo-core/src/adapters/pypi.rs
  crates/sampo-core/src/adapters/pypi/pip/pip_tests.rs
  crates/sampo-core/src/enrichment.rs
  crates/sampo-core/src/lib.rs
  crates/sampo/README.md
Labels: documentation, crt:sampo, crt:sampo-core

fix(core/enrichment): credit changeset original creator (#174)
  .sampo/changesets/dashing-baron-marjatta.md
  crates/sampo-core/src/adapters/hex.rs
  crates/sampo-core/src/adapters/npm.rs
  crates/sampo-core/src/adapters/pypi.rs
  crates/sampo-core/src/adapters/pypi/pip/pip_tests.rs
  crates/sampo-core/src/enrichment.rs
  crates/sampo-core/src/lib.rs
  crates/sampo/README.md
Labels: documentation, crt:sampo, crt:sampo-core

fix(pypi): skip complex constraints in dependency updates
  .sampo/changesets/gallant-stormcaller-otso.md
  crates/sampo-core/src/adapters/pypi/pip.rs
  crates/sampo-core/src/adapters/pypi/pip/pip_tests.rs
Labels: documentation, crt:sampo-core

fix(pypi): normalize package names
  crates/sampo-core/src/adapters/pypi/pip.rs
  crates/sampo-core/src/adapters/pypi/pip/pip_tests.rs
Labels: crt:sampo-core

feat(pypi): uv workspace discovery with glob and exclude
  crates/sampo-core/src/adapters/pypi/pip.rs
  crates/sampo-core/src/adapters/pypi/pip/pip_tests.rs
Labels: crt:sampo-core

use enum for version operators
  crates/sampo-core/src/adapters/pypi/pip.rs
Labels: crt:sampo-core

fix(publish): skip dry-run for already-published packages
  .sampo/changesets/heroic-baron-tursas.md
  crates/sampo-core/src/publish.rs
Labels: documentation, crt:sampo-core

fix(action): respect dry-run flag for tag push and releases
  crates/sampo-github-action/src/main.rs
  crates/sampo-github-action/tests/integration.rs
Labels: crt:sampo-github-action

changeset
  .sampo/changesets/heroic-baron-tursas.md
Labels: documentation

dry-run now reports tags that would be created
  crates/sampo-core/src/lib.rs
  crates/sampo-core/src/publish.rs
  crates/sampo-core/src/types.rs
  crates/sampo-github-action/src/git.rs
  crates/sampo-github-action/src/main.rs
  crates/sampo-github-action/src/sampo.rs
  crates/sampo-github-action/tests/integration.rs
  crates/sampo/src/publish.rs
Labels: crt:sampo, crt:sampo-core, crt:sampo-github-action

fix(publish): skip dry-run for already-published packages (#177)
  .sampo/changesets/heroic-baron-tursas.md
  crates/sampo-core/src/lib.rs
  crates/sampo-core/src/publish.rs
  crates/sampo-core/src/types.rs
  crates/sampo-github-action/src/git.rs
  crates/sampo-github-action/src/main.rs
  crates/sampo-github-action/src/sampo.rs
  crates/sampo-github-action/tests/integration.rs
  crates/sampo/src/publish.rs
Labels: documentation, crt:sampo, crt:sampo-core, crt:sampo-github-action

polish python support (#176)
  .sampo/changesets/gallant-stormcaller-otso.md
  crates/sampo-core/src/adapters/pypi/pip.rs
  crates/sampo-core/src/adapters/pypi/pip/pip_tests.rs
Labels: documentation, crt:sampo-core

docs: add Python/PyPI to supported ecosystems
  README.md
  crates/sampo/README.md
Labels: documentation, crt:sampo

feat(core/packagist): PHP package discovery and publishing
  .sampo/changesets/dashing-forgemaster-marjatta.md
  README.md
  crates/sampo-core/src/adapters.rs
  crates/sampo-core/src/adapters/packagist.rs
  crates/sampo-core/src/filters.rs
  crates/sampo-core/src/prerelease.rs
  crates/sampo-core/src/publish.rs
  crates/sampo-core/src/release.rs
  crates/sampo-core/src/types.rs
  crates/sampo/README.md
Labels: documentation, crt:sampo, crt:sampo-core

feat(core): constraint validation infrastructure
  .sampo/changesets/steadfast-princess-vainamoinen.md
  AGENTS.md
  crates/sampo-core/src/adapters.rs
  crates/sampo-core/src/adapters/cargo.rs
  crates/sampo-core/src/adapters/hex.rs
  crates/sampo-core/src/adapters/npm.rs
  crates/sampo-core/src/adapters/pypi.rs
  crates/sampo-core/src/errors.rs
  crates/sampo-core/src/lib.rs
  crates/sampo-core/src/release.rs
  crates/sampo-core/src/types.rs
Labels: documentation, crt:sampo-core

format
  crates/sampo-core/src/release.rs
Labels: crt:sampo-core

cargo constraints
  .sampo/changesets/steadfast-princess-vainamoinen.md
  crates/sampo-core/src/adapters/cargo.rs
  crates/sampo-core/src/adapters/cargo/cargo_tests.rs
  crates/sampo-github-action/src/sampo.rs
  crates/sampo/README.md
Labels: documentation, crt:sampo, crt:sampo-core, crt:sampo-github-action

feat(core/mix): support module attribute `@version` in project metadata
  .sampo/changesets/fabled-princess-sampsa.md
  crates/sampo-core/src/adapters/hex/mix.rs
  crates/sampo-core/src/adapters/hex/mix/mix_tests.rs
Labels: documentation, crt:sampo-core

feat(cli): enhance exit codes for better CI integration
  .sampo/changesets/valorous-knight-mielikki.md
  crates/sampo/README.md
  crates/sampo/src/main.rs
  crates/sampo/src/prerelease.rs
  crates/sampo/src/publish.rs
  crates/sampo/src/release.rs
  crates/sampo/src/update.rs
Labels: documentation, crt:sampo
