Repository bruits/sampo, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, devops, dependencies, crt:sampo, crt:sampo-core, crt:sampo-github-action, crt:sampo-github-bot

enhance version requirement handling
  crates/sampo-core/src/adapters/hex.rs
  crates/sampo-core/src/adapters/hex/hex_tests.rs
Labels: crt:sampo-core

fix(npm): allow private manifests without version
  .sampo/changesets/regal-guardian-lemminkainen.md
  crates/sampo-core/src/adapters/npm.rs
  crates/sampo-core/src/adapters/npm/npm_tests.rs
Labels: documentation, crt:sampo-core

fix(npm): allow private manifests without version (#124)
  .sampo/changesets/regal-guardian-lemminkainen.md
  crates/sampo-core/src/adapters/npm.rs
  crates/sampo-core/src/adapters/npm/npm_tests.rs
Labels: documentation, crt:sampo-core

extract mix-specific adapter and tests
  crates/sampo-core/src/adapters/hex.rs
  crates/sampo-core/src/adapters/hex/hex_tests.rs
  crates/sampo-core/src/adapters/hex/mix.rs
  crates/sampo-core/src/adapters/hex/mix/mix_tests.rs
Labels: crt:sampo-core

feat(core/hex): mix packages support (#121)
  .sampo/changesets/valorous-duchess-loviatar.md
  Cargo.lock
  crates/sampo-core/Cargo.toml
  crates/sampo-core/src/adapters.rs
  crates/sampo-core/src/adapters/hex.rs
  crates/sampo-core/src/adapters/hex/hex_tests.rs
  crates/sampo-core/src/adapters/hex/mix.rs
  crates/sampo-core/src/adapters/hex/mix/mix_tests.rs
  crates/sampo-core/src/filters.rs
  crates/sampo-core/src/prerelease.rs
  crates/sampo-core/src/publish.rs
  crates/sampo-core/src/release.rs
  crates/sampo-core/src/types.rs
  crates/sampo-core/src/workspace.rs
  crates/sampo-github-action/README.md
  crates/sampo/README.md
Labels: documentation, dependencies, crt:sampo, crt:sampo-core, crt:sampo-github-action

doc: add hex to supported ecosystem
  README.md
  crates/sampo/README.md
Labels: documentation, crt:sampo

first draft
  crates/sampo/src/add.rs
  crates/sampo/src/prerelease.rs
  crates/sampo/src/ui.rs
Labels: crt:sampo

some polish
  crates/sampo/src/add.rs
  crates/sampo/src/prerelease.rs
  crates/sampo/src/ui.rs
Labels: crt:sampo

changeset
  .sampo/changesets/noble-forgemaster-tuoni.md
Labels: documentation

refactor(cli): improve styles consistency (#129)
  .sampo/changesets/noble-forgemaster-tuoni.md
  crates/sampo/src/add.rs
  crates/sampo/src/prerelease.rs
  crates/sampo/src/ui.rs
Labels: documentation, crt:sampo

feat(github-bot): improve message feedback
  .sampo/changesets/stalwart-seer-goulven.md
  Cargo.lock
  crates/sampo-github-bot/Cargo.toml
  crates/sampo-github-bot/src/changeset.rs
  crates/sampo-github-bot/src/main.rs
Labels: documentation, dependencies, crt:sampo-github-bot

erika review
  crates/sampo-github-bot/src/changeset.rs
Labels: crt:sampo-github-bot

feat(github-bot): improve message feedback (#131)
  .sampo/changesets/stalwart-seer-goulven.md
  Cargo.lock
  crates/sampo-github-bot/Cargo.toml
  crates/sampo-github-bot/src/changeset.rs
  crates/sampo-github-bot/src/main.rs
Labels: documentation, dependencies, crt:sampo-github-bot

fix(cargo): add version to workspace deps with path-only
  .sampo/changesets/venerable-witch-tuoni.md
  crates/sampo-core/src/adapters/cargo.rs
  crates/sampo-core/src/adapters/cargo/cargo_tests.rs
Labels: documentation, crt:sampo-core

fix(github-bot): single sticky approval
  .sampo/changesets/wily-sage-otso.md
  crates/sampo-github-bot/src/changeset.rs
  crates/sampo-github-bot/src/main.rs
Labels: documentation, crt:sampo-github-bot

feat(core/publish): packages dry run before publishing
  .sampo/changesets/regal-knight-aurelien.md
  crates/sampo-core/src/adapters.rs
  crates/sampo-core/src/publish.rs
Labels: documentation, crt:sampo-core

fix
  crates/sampo-core/src/publish.rs
Labels: crt:sampo-core

fix(github-bot): single sticky approval (#138)
  .sampo/changesets/wily-sage-otso.md
  crates/sampo-github-bot/src/changeset.rs
  crates/sampo-github-bot/src/main.rs
Labels: documentation, crt:sampo-github-bot

fix tests
  Cargo.lock
  crates/sampo-core/Cargo.toml
  crates/sampo-core/src/publish.rs
Labels: dependencies, crt:sampo-core

docs: improve READMEs introduction
  README.md
  crates/sampo-core/README.md
  crates/sampo-github-action/README.md
  crates/sampo-github-bot/README.md
  crates/sampo/README.md
  crates/sampo/src/init.rs
Labels: documentation, crt:sampo, crt:sampo-core, crt:sampo-github-action, crt:sampo-github-bot

typos + bot message
  crates/sampo-github-bot/src/changeset.rs
  crates/sampo/README.md
Labels: documentation, crt:sampo, crt:sampo-github-bot

docs: improve READMEs introduction (#142)
  README.md
  crates/sampo-core/README.md
  crates/sampo-github-action/README.md
  crates/sampo-github-bot/README.md
  crates/sampo-github-bot/src/changeset.rs
  crates/sampo/README.md
  crates/sampo/src/init.rs
Labels: documentation, crt:sampo, crt:sampo-core, crt:sampo-github-action, crt:sampo-github-bot

drop serial_test & thread-local test branch
  Cargo.lock
  crates/sampo-core/Cargo.toml
  crates/sampo-core/src/git.rs
  crates/sampo-core/src/publish.rs
Labels: dependencies, crt:sampo-core

fix tests
  crates/sampo-core/src/publish.rs
Labels: crt:sampo-core

feat(core/cargo): support single-package rust repo
  .sampo/changesets/valiant-sage-aino.md
  crates/sampo-core/src/adapters/cargo.rs
  crates/sampo-core/src/adapters/cargo/cargo_tests.rs
  crates/sampo-core/src/workspace.rs
  crates/sampo/src/ui.rs
Labels: documentation, crt:sampo, crt:sampo-core

feat(core/cargo): support single-package rust repo (#143)
  .sampo/changesets/valiant-sage-aino.md
  crates/sampo-core/src/adapters/cargo.rs
  crates/sampo-core/src/adapters/cargo/cargo_tests.rs
  crates/sampo-core/src/workspace.rs
  crates/sampo/src/ui.rs
Labels: documentation, crt:sampo, crt:sampo-core

feat(core/publish): packages dry run before publishing (#139)
  .sampo/changesets/regal-knight-aurelien.md
  crates/sampo-core/src/adapters.rs
  crates/sampo-core/src/git.rs
  crates/sampo-core/src/publish.rs
Labels: documentation, crt:sampo-core

fix(hex/mix): don't publish private elixir packages
  .sampo/changesets/gallant-baron-tapio.md
  crates/sampo-core/src/adapters/hex/mix.rs
  crates/sampo-core/src/adapters/hex/mix/mix_tests.rs
Labels: documentation, crt:sampo-core

typo
  .sampo/changesets/gallant-baron-tapio.md
Labels: documentation

fix(hex/mix): don't publish private elixir packages (#145)
  .sampo/changesets/gallant-baron-tapio.md
  crates/sampo-core/src/adapters/hex/mix.rs
  crates/sampo-core/src/adapters/hex/mix/mix_tests.rs
Labels: documentation, crt:sampo-core

fix(core/cargo): dry publish with transitive dependencies
  crates/sampo-core/src/adapters.rs
  crates/sampo-core/src/adapters/cargo.rs
  crates/sampo-core/src/adapters/hex.rs
  crates/sampo-core/src/adapters/npm.rs
  crates/sampo-core/src/publish.rs
Labels: crt:sampo-core

fix(core/cargo): dry publish with transitive dependencies (#147)
  crates/sampo-core/src/adapters.rs
  crates/sampo-core/src/adapters/cargo.rs
  crates/sampo-core/src/adapters/hex.rs
  crates/sampo-core/src/adapters/npm.rs
  crates/sampo-core/src/publish.rs
Labels: crt:sampo-core

fix(publish): git tags for private packages
  .sampo/changesets/venerable-bard-kullervo.md
  crates/sampo-core/src/publish.rs
  crates/sampo-github-action/README.md
  crates/sampo-github-action/tests/integration.rs
  crates/sampo/README.md
Labels: documentation, crt:sampo, crt:sampo-core, crt:sampo-github-action

tag packages immediately after publish
  .sampo/changesets/venerable-bard-kullervo.md
  crates/sampo-core/src/publish.rs
Labels: documentation, crt:sampo-core

prevent spurious tags without release
  .sampo/changesets/venerable-bard-kullervo.md
  crates/sampo-core/src/publish.rs
Labels: documentation, crt:sampo-core

add an integration test
  crates/sampo-github-action/tests/integration.rs
Labels: crt:sampo-github-action

tag private packages in mixed workspaces
  crates/sampo-core/src/publish.rs
Labels: crt:sampo-core

format
  crates/sampo-core/src/publish.rs
Labels: crt:sampo-core

format
  crates/sampo-core/src/publish.rs
Labels: crt:sampo-core

fix(publish): git tags for private packages (#152)
  .sampo/changesets/venerable-bard-kullervo.md
  crates/sampo-core/src/publish.rs
  crates/sampo-github-action/README.md
  crates/sampo-github-action/tests/integration.rs
  crates/sampo/README.md
Labels: documentation, crt:sampo, crt:sampo-core, crt:sampo-github-action

.github/labeler.yml:

# Configuration for automatic PR labeling
# See: https://github.com/actions/labeler

# Add 'documentation' label to any change in documentation
"documentation":
  - "**/*.md"
  - "docs/**"

# Add 'devops' label to any change in configuration files
"devops":
  - ".github/**"
  - ".vscode/**"
  - ".zed/**"
  - ".editorconfig"
  - ".gitignore"

# Add 'dependencies' label to dependency changes
"dependencies":
  - "**/Cargo.toml"
  - "**/Cargo.lock"

# Add crate/package specific labels
"crt:sampo":
  - "crates/sampo/**"
"crt:sampo-core":
  - "crates/sampo-core/**"
"crt:sampo-github-action":
  - "crates/sampo-github-action/**"
"crt:sampo-github-bot":
  - "crates/sampo-github-bot/**"
