Repository bruits/sampo, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, devops, dependencies, crt:sampo, crt:sampo-core, crt:sampo-github-action, crt:sampo-github-bot

.github/labeler.yml:

# Configuration for automatic PR labeling
# See: https://github.com/actions/labeler

# Add 'documentation' label to any change in documentation
"documentation":
  - "**/*.md"
  - "docs/**"

# Add 'devops' label to any change in configuration files
"devops":
  - ".github/**"
  - ".vscode/**"
  - ".zed/**"
  - ".editorconfig"
  - ".gitignore"

# Add 'dependencies' label to dependency changes
"dependencies":
  - "**/Cargo.toml"
  - "**/Cargo.lock"

# Add crate/package specific labels
"crt:sampo":
  - "crates/sampo/**"
"crt:sampo-core":
  - "crates/sampo-core/**"
"crt:sampo-github-action":
  - "crates/sampo-github-action/**"
"crt:sampo-github-bot":
  - "crates/sampo-github-bot/**"

fix(core): scope prerelease guard to referenced packages only (#204)
  .sampo/changesets/jovial-earl-tursas.md
  crates/sampo-core/src/release.rs
  crates/sampo-core/src/release_tests.rs
Labels: documentation, crt:sampo-core

polish changesets and contributing
  .sampo/changesets/jovial-earl-tursas.md
  .sampo/changesets/wily-queen-mielikki.md
  AGENTS.md
  CONTRIBUTING.md
  LICENSE
Labels: documentation

format
  crates/sampo-core/src/release.rs
Labels: crt:sampo-core

feat(core): constraint validation infrastructure
  .sampo/changesets/steadfast-princess-vainamoinen.md
  AGENTS.md
  crates/sampo-core/src/adapters.rs
  crates/sampo-core/src/adapters/cargo.rs
  crates/sampo-core/src/adapters/hex.rs
  crates/sampo-core/src/adapters/npm.rs
  crates/sampo-core/src/adapters/pypi.rs
  crates/sampo-core/src/errors.rs
  crates/sampo-core/src/lib.rs
  crates/sampo-core/src/release.rs
  crates/sampo-core/src/types.rs
Labels: documentation, crt:sampo-core

cargo constraints
  .sampo/changesets/steadfast-princess-vainamoinen.md
  crates/sampo-core/src/adapters.rs
  crates/sampo-core/src/adapters/cargo.rs
  crates/sampo-core/src/adapters/cargo/cargo_tests.rs
  crates/sampo-core/src/adapters/packagist.rs
  crates/sampo-github-action/src/sampo.rs
  crates/sampo/README.md
Labels: documentation, crt:sampo, crt:sampo-core, crt:sampo-github-action

implement range constraint preservation
  .sampo/changesets/steadfast-princess-vainamoinen.md
  crates/sampo-core/src/adapters/cargo.rs
  crates/sampo-core/src/adapters/cargo/cargo_tests.rs
  crates/sampo-core/src/release.rs
  crates/sampo-core/src/release_tests.rs
Labels: documentation, crt:sampo-core

fix(core): resolve package manager on windows
  .sampo/changesets/bold-knight-lintu.md
  crates/sampo-core/src/adapters/hex/mix.rs
  crates/sampo-core/src/adapters/npm.rs
  crates/sampo-core/src/adapters/packagist.rs
  crates/sampo-core/src/lib.rs
  crates/sampo-core/src/process.rs
Labels: documentation, crt:sampo-core

fix(core): resolve package manager on windows (#205)
  .sampo/changesets/bold-knight-lintu.md
  crates/sampo-core/src/adapters/hex/mix.rs
  crates/sampo-core/src/adapters/npm.rs
  crates/sampo-core/src/adapters/packagist.rs
  crates/sampo-core/src/lib.rs
  crates/sampo-core/src/process.rs
Labels: documentation, crt:sampo-core

feat(publish): per-ecosystem flags
  .sampo/changesets/swift-forge-kaleva.md
  crates/sampo-core/src/lib.rs
  crates/sampo-core/src/publish.rs
  crates/sampo-core/src/release.rs
  crates/sampo-core/src/release_tests.rs
  crates/sampo-github-action/src/sampo.rs
  crates/sampo/README.md
  crates/sampo/src/cli.rs
  crates/sampo/src/publish.rs
Labels: documentation, crt:sampo, crt:sampo-core, crt:sampo-github-action

github action extra args
  .sampo/changesets/swift-forge-kaleva.md
  crates/sampo-github-action/README.md
  crates/sampo-github-action/action.yml
  crates/sampo-github-action/src/main.rs
  crates/sampo-github-action/src/sampo.rs
Labels: documentation, crt:sampo-github-action

oops
  .sampo/changesets/swift-forge-kaleva.md
Labels: documentation

feat(publish): per-ecosystem flags (#207)
  .sampo/changesets/swift-forge-kaleva.md
  crates/sampo-core/src/lib.rs
  crates/sampo-core/src/publish.rs
  crates/sampo-core/src/release.rs
  crates/sampo-core/src/release_tests.rs
  crates/sampo-github-action/README.md
  crates/sampo-github-action/action.yml
  crates/sampo-github-action/src/main.rs
  crates/sampo-github-action/src/sampo.rs
  crates/sampo/README.md
  crates/sampo/src/cli.rs
  crates/sampo/src/publish.rs
Labels: documentation, crt:sampo, crt:sampo-core, crt:sampo-github-action

format
  crates/sampo-core/src/release.rs
Labels: crt:sampo-core

feat(core): constraint validation infrastructure
  .sampo/changesets/steadfast-princess-vainamoinen.md
  AGENTS.md
  crates/sampo-core/src/adapters.rs
  crates/sampo-core/src/adapters/cargo.rs
  crates/sampo-core/src/adapters/hex.rs
  crates/sampo-core/src/adapters/npm.rs
  crates/sampo-core/src/adapters/pypi.rs
  crates/sampo-core/src/errors.rs
  crates/sampo-core/src/lib.rs
  crates/sampo-core/src/release.rs
  crates/sampo-core/src/types.rs
Labels: documentation, crt:sampo-core

cargo constraints
  .sampo/changesets/steadfast-princess-vainamoinen.md
  crates/sampo-core/src/adapters.rs
  crates/sampo-core/src/adapters/cargo.rs
  crates/sampo-core/src/adapters/cargo/cargo_tests.rs
  crates/sampo-core/src/adapters/packagist.rs
  crates/sampo-github-action/src/sampo.rs
  crates/sampo/README.md
Labels: documentation, crt:sampo, crt:sampo-core, crt:sampo-github-action

oops
  crates/sampo-core/src/adapters/hex.rs
  crates/sampo-core/src/adapters/hex/hex_tests.rs
  crates/sampo-core/src/adapters/hex/mix.rs
Labels: crt:sampo-core

extract packagist tests into separate module file
  crates/sampo-core/src/adapters/packagist.rs
  crates/sampo-core/src/adapters/packagist/packagist_tests.rs
Labels: crt:sampo-core

range constraints for npm
  .sampo/changesets/steadfast-princess-vainamoinen.md
  crates/sampo-core/src/adapters/npm.rs
  crates/sampo-core/src/adapters/npm/npm_tests.rs
Labels: documentation, crt:sampo-core

implement range constraint for Packagist
  .sampo/changesets/steadfast-princess-vainamoinen.md
  crates/sampo-core/src/adapters/packagist.rs
Labels: documentation, crt:sampo-core

implement range constraint preservation
  .sampo/changesets/steadfast-princess-vainamoinen.md
  crates/sampo-core/src/adapters/cargo.rs
  crates/sampo-core/src/adapters/cargo/cargo_tests.rs
  crates/sampo-core/src/release.rs
  crates/sampo-core/src/release_tests.rs
Labels: documentation, crt:sampo-core

implement range constraint for Hex
  .sampo/changesets/steadfast-princess-vainamoinen.md
  crates/sampo-core/src/adapters/hex.rs
  crates/sampo-core/src/adapters/hex/hex_tests.rs
  crates/sampo-core/src/adapters/hex/mix.rs
Labels: documentation, crt:sampo-core

implement range constraint for pypi
  .sampo/changesets/steadfast-princess-vainamoinen.md
  crates/sampo-core/src/adapters/pypi.rs
  crates/sampo-core/src/adapters/pypi/pip.rs
  crates/sampo-core/src/adapters/pypi/pip/pip_tests.rs
Labels: documentation, crt:sampo-core

update agentic guidelines
  .sampo/changesets/bold-knight-lintu.md
  .sampo/changesets/jovial-earl-tursas.md
  AGENTS.md
  CONTRIBUTING.md
Labels: documentation

feat(cli): flags for non-interactive changeset creation
  .github/skills/sampo-changeset/SKILL.md
  .sampo/changeset.md.example
  .sampo/changesets/bold-wind-sampo.md
  crates/sampo-core/README.md
  crates/sampo-core/src/types.rs
  crates/sampo-github-action/README.md
  crates/sampo-github-bot/README.md
  crates/sampo/README.md
  crates/sampo/src/add.rs
  crates/sampo/src/cli.rs
  crates/sampo/src/init.rs
  crates/sampo/src/main.rs
Labels: documentation, devops, crt:sampo, crt:sampo-core, crt:sampo-github-action, crt:sampo-github-bot

fix review
  crates/sampo/src/add.rs
Labels: crt:sampo

feat(cli): flags for non-interactive changeset creation (#208)
  .github/skills/sampo-changeset/SKILL.md
  .sampo/changeset.md.example
  .sampo/changesets/bold-wind-sampo.md
  crates/sampo-core/README.md
  crates/sampo-core/src/types.rs
  crates/sampo-github-action/README.md
  crates/sampo-github-bot/README.md
  crates/sampo/README.md
  crates/sampo/src/add.rs
  crates/sampo/src/cli.rs
  crates/sampo/src/init.rs
  crates/sampo/src/main.rs
Labels: documentation, devops, crt:sampo, crt:sampo-core, crt:sampo-github-action, crt:sampo-github-bot

fix(bot): use format_markdown_list_item for changeset previews
  .sampo/changesets/regal-king-aino.md
  crates/sampo-github-bot/src/changeset.rs
Labels: documentation, crt:sampo-github-bot

Update .sampo/changesets/regal-king-aino.md
  .sampo/changesets/regal-king-aino.md
Labels: documentation

fix(bot): use format_markdown_list_item for changeset previews (#209)
  .sampo/changesets/regal-king-aino.md
  crates/sampo-github-bot/src/changeset.rs
Labels: documentation, crt:sampo-github-bot

fix(core): Cargo workspace version inheritance
  .sampo/changesets/dashing-lord-nyyrikki.md
  crates/sampo-core/src/adapters.rs
  crates/sampo-core/src/adapters/cargo.rs
  crates/sampo-core/src/adapters/cargo/cargo_tests.rs
  crates/sampo-core/src/prerelease.rs
  crates/sampo-core/src/release.rs
Labels: documentation, crt:sampo-core

remove ManifestMetadata and simplify version inheritance handling
  Cargo.lock
  crates/sampo-core/Cargo.toml
  crates/sampo-core/src/adapters.rs
  crates/sampo-core/src/adapters/cargo.rs
  crates/sampo-core/src/adapters/cargo/cargo_tests.rs
  crates/sampo-core/src/lib.rs
  crates/sampo-core/src/prerelease.rs
  crates/sampo-core/src/release.rs
  crates/sampo-core/src/release_tests.rs
Labels: dependencies, crt:sampo-core

fix reviews
  crates/sampo-core/src/adapters/cargo.rs
  crates/sampo-core/src/adapters/cargo/cargo_tests.rs
  crates/sampo-core/src/prerelease.rs
Labels: crt:sampo-core

fix(core): Cargo workspace version inheritance (#214)
  .sampo/changesets/dashing-lord-nyyrikki.md
  Cargo.lock
  crates/sampo-core/Cargo.toml
  crates/sampo-core/src/adapters.rs
  crates/sampo-core/src/adapters/cargo.rs
  crates/sampo-core/src/adapters/cargo/cargo_tests.rs
  crates/sampo-core/src/lib.rs
  crates/sampo-core/src/prerelease.rs
  crates/sampo-core/src/release.rs
  crates/sampo-core/src/release_tests.rs
Labels: documentation, dependencies, crt:sampo-core

fix(core): adjust prerelease entry bumps and preservation
  .sampo/changesets/forthright-lord-ahti.md
  crates/sampo-core/src/release.rs
  crates/sampo-core/src/release_tests.rs
  crates/sampo/README.md
Labels: documentation, crt:sampo, crt:sampo-core

chore: resolve clippy warnings
  crates/sampo-core/src/release.rs
Labels: crt:sampo-core

fix: apply suggestions from code review
  .sampo/changesets/forthright-lord-ahti.md
  crates/sampo-core/src/release.rs
Labels: documentation, crt:sampo-core

fix: copilot's compile bug.
  crates/sampo-core/src/release.rs
Labels: crt:sampo-core

chore: Resolve copilot comment.
  crates/sampo-core/src/release.rs
Labels: crt:sampo-core

chore: Resolve copilot comment.
  crates/sampo/README.md
Labels: documentation, crt:sampo

chore: apply comment
  .sampo/changesets/forthright-lord-ahti.md
Labels: documentation
