Repository bruits/sampo, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, devops, dependencies, crt:sampo, crt:sampo-core, crt:sampo-github-action, crt:sampo-github-bot

feat(sampo-core): support for pre-release versioning (#68)
  .sampo/changesets/cunning-seer-kullervo.md
  .sampo/changesets/venerable-iceseeker-otso.md
  Cargo.lock
  crates/sampo-core/Cargo.toml
  crates/sampo-core/src/release.rs
  crates/sampo-core/src/release_tests.rs
  crates/sampo-github-action/Cargo.toml
  crates/sampo-github-action/README.md
  crates/sampo-github-action/src/github.rs
  crates/sampo-github-action/src/main.rs
  crates/sampo-github-action/tests/integration.rs
  crates/sampo/README.md
Labels: documentation, dependencies, crt:sampo, crt:sampo-core, crt:sampo-github-action

first draft prerelease folder
  crates/sampo-core/src/release.rs
  crates/sampo-core/src/release_tests.rs
  crates/sampo/README.md
Labels: documentation, crt:sampo, crt:sampo-core

first draft cli
  crates/sampo-core/src/errors.rs
  crates/sampo-core/src/lib.rs
  crates/sampo-core/src/prerelease.rs
  crates/sampo-core/src/release.rs
  crates/sampo/README.md
  crates/sampo/src/add.rs
  crates/sampo/src/cli.rs
  crates/sampo/src/main.rs
  crates/sampo/src/prerelease.rs
  crates/sampo/src/ui.rs
Labels: documentation, crt:sampo, crt:sampo-core

better pre-release command with interactive prompt
  crates/sampo/src/cli.rs
  crates/sampo/src/main.rs
  crates/sampo/src/prerelease.rs
  crates/sampo/src/ui.rs
Labels: crt:sampo

changesets
  .sampo/changesets/chivalrous-wolfkin-marjatta.md
  .sampo/changesets/sullen-baroness-nyyrikki.md
Labels: documentation

better doc
  crates/sampo/README.md
Labels: documentation, crt:sampo

feat: pre-release behaviour in core and CLI (#71)
  .sampo/changesets/chivalrous-wolfkin-marjatta.md
  .sampo/changesets/sullen-baroness-nyyrikki.md
  crates/sampo-core/src/errors.rs
  crates/sampo-core/src/lib.rs
  crates/sampo-core/src/prerelease.rs
  crates/sampo-core/src/release.rs
  crates/sampo-core/src/release_tests.rs
  crates/sampo/README.md
  crates/sampo/src/add.rs
  crates/sampo/src/cli.rs
  crates/sampo/src/main.rs
  crates/sampo/src/prerelease.rs
  crates/sampo/src/ui.rs
Labels: documentation, crt:sampo, crt:sampo-core

first draft
  crates/sampo-core/src/release.rs
Labels: crt:sampo-core

changeset
  .sampo/changesets/chivalrous-queen-tuoni.md
  crates/sampo/README.md
Labels: documentation, crt:sampo

fix CI
  .github/workflows/ci.yml
  crates/sampo-core/src/release_tests.rs
Labels: devops, crt:sampo-core

review
  crates/sampo-core/src/release.rs
Labels: crt:sampo-core

fix(changelog): preserve custom intro and main header (#76)
  .github/workflows/ci.yml
  .sampo/changesets/chivalrous-queen-tuoni.md
  crates/sampo-core/src/release.rs
  crates/sampo-core/src/release_tests.rs
  crates/sampo/README.md
Labels: documentation, devops, crt:sampo, crt:sampo-core

feat(github-action): stabilize PR automation
  .sampo/changesets/chivalrous-queen-tuoni.md
  .sampo/changesets/resolute-sage-lemminkainen.md
  crates/sampo-github-action/README.md
  crates/sampo-github-action/action.yml
  crates/sampo-github-action/src/main.rs
  crates/sampo-github-action/src/sampo.rs
Labels: documentation, crt:sampo-github-action

feat(github-action): stabilize PR automation (#77)
  .sampo/changesets/chivalrous-queen-tuoni.md
  .sampo/changesets/resolute-sage-lemminkainen.md
  crates/sampo-github-action/README.md
  crates/sampo-github-action/action.yml
  crates/sampo-github-action/src/main.rs
  crates/sampo-github-action/src/sampo.rs
Labels: documentation, crt:sampo-github-action

fix(github-action): drop redundant version header
  .sampo/changesets/virtuous-warden-ahti.md
  crates/sampo-github-action/src/main.rs
Labels: documentation, crt:sampo-github-action

feat(core): release timestamp in changelogs
  .sampo/changesets/venerable-guardian-ilmarinen.md
  Cargo.lock
  crates/sampo-core/Cargo.toml
  crates/sampo-core/src/config.rs
  crates/sampo-core/src/release.rs
  crates/sampo-core/src/release_tests.rs
  crates/sampo/README.md
Labels: documentation, dependencies, crt:sampo, crt:sampo-core

feat(core): release timestamp in changelogs (#78)
  .sampo/changesets/venerable-guardian-ilmarinen.md
  Cargo.lock
  crates/sampo-core/Cargo.toml
  crates/sampo-core/src/config.rs
  crates/sampo-core/src/release.rs
  crates/sampo-core/src/release_tests.rs
  crates/sampo/README.md
Labels: documentation, dependencies, crt:sampo, crt:sampo-core

feat(core): restore changesets when switching pre-release
  .sampo/changesets/dashing-duke-tuoni.md
  crates/sampo-core/src/lib.rs
  crates/sampo-core/src/prerelease.rs
  crates/sampo-core/src/release.rs
  crates/sampo-core/src/release_tests.rs
  crates/sampo/README.md
  crates/sampo/src/prerelease.rs
Labels: documentation, crt:sampo, crt:sampo-core

fix(core): refresh workspace dependency versions
  .sampo/changesets/wily-thunderbearer-tuonetar.md
  crates/sampo-core/src/release.rs
Labels: documentation, crt:sampo-core

fix clippy and format
  crates/sampo-core/src/release.rs
Labels: crt:sampo-core

remove non existing workspace's dev-dependencies and build-dependencies
  .sampo/changesets/wily-thunderbearer-tuonetar.md
  crates/sampo-core/src/release.rs
Labels: documentation, crt:sampo-core

feat(core): restore changesets when switching pre-release (#80)
  .sampo/changesets/dashing-duke-tuoni.md
  crates/sampo-core/src/lib.rs
  crates/sampo-core/src/prerelease.rs
  crates/sampo-core/src/release.rs
  crates/sampo-core/src/release_tests.rs
  crates/sampo/README.md
  crates/sampo/src/prerelease.rs
Labels: documentation, crt:sampo, crt:sampo-core

handle shorthands
  crates/sampo-core/src/release.rs
Labels: crt:sampo-core

use cargo_metadata in new manifest module for manifest updates
  Cargo.lock
  crates/sampo-core/Cargo.toml
  crates/sampo-core/src/lib.rs
  crates/sampo-core/src/manifest.rs
  crates/sampo-core/src/prerelease.rs
  crates/sampo-core/src/release.rs
  crates/sampo-core/src/release_tests.rs
Labels: dependencies, crt:sampo-core

SECURITY.md
  SECURITY.md
Labels: documentation

codeql-db and sarif stuff
  .gitignore
  .vscode/settings.json
Labels: devops

contributing
  CONTRIBUTING.md
  crates/sampo-core/README.md
  crates/sampo-github-action/README.md
  crates/sampo-github-bot/README.md
  crates/sampo/README.md
Labels: documentation, crt:sampo, crt:sampo-core, crt:sampo-github-action, crt:sampo-github-bot

contributing
  CONTRIBUTING.md
Labels: documentation

oops
  SECURITY.md
Labels: documentation

security and contributing stuff (#82)
  .gitignore
  .vscode/settings.json
  CONTRIBUTING.md
  SECURITY.md
  crates/sampo-core/README.md
  crates/sampo-github-action/README.md
  crates/sampo-github-bot/README.md
  crates/sampo/README.md
Labels: documentation, devops, crt:sampo, crt:sampo-core, crt:sampo-github-action, crt:sampo-github-bot

fix(core): refresh workspace dependency versions (#81)
  .sampo/changesets/wily-thunderbearer-tuonetar.md
  Cargo.lock
  crates/sampo-core/Cargo.toml
  crates/sampo-core/src/lib.rs
  crates/sampo-core/src/manifest.rs
  crates/sampo-core/src/prerelease.rs
  crates/sampo-core/src/release.rs
  crates/sampo-core/src/release_tests.rs
Labels: documentation, dependencies, crt:sampo-core

fix(github-action): release use first heading 2
  .sampo/changesets/cranky-duchess-vellamo.md
  crates/sampo-github-action/src/main.rs
Labels: documentation, crt:sampo-github-action

format
  crates/sampo-github-action/src/main.rs
Labels: crt:sampo-github-action

fix(github-action): release use first heading 2 (#84)
  .sampo/changesets/cranky-duchess-vellamo.md
  crates/sampo-github-action/src/main.rs
Labels: documentation, crt:sampo-github-action

feat(github-action): use pre-built release assets for GitHub uploads
  .github/workflows/release.yml
  .sampo/changesets/resolute-runesmith-vipunen.md
  Cargo.lock
  crates/sampo-github-action/Cargo.toml
  crates/sampo-github-action/README.md
  crates/sampo-github-action/action.yml
  crates/sampo-github-action/src/github.rs
  crates/sampo-github-action/src/main.rs
Labels: documentation, devops, dependencies, crt:sampo-github-action

fix(github-action): use GraphQL API for GitHub Discussions
  .sampo/changesets/forthright-shaman-kullervo.md
  crates/sampo-github-action/src/github.rs
Labels: documentation, crt:sampo-github-action

erika don't like dash
  crates/sampo-github-action/README.md
  crates/sampo-github-action/action.yml
Labels: documentation, crt:sampo-github-action

fix(github-action): use GraphQL API for GitHub Discussions (#89)
  .sampo/changesets/forthright-shaman-kullervo.md
  crates/sampo-github-action/src/github.rs
Labels: documentation, crt:sampo-github-action

feat(github-action): use pre-built release assets for GitHub uploads (#88)
  .github/workflows/release.yml
  .sampo/changesets/resolute-runesmith-vipunen.md
  Cargo.lock
  crates/sampo-github-action/Cargo.toml
  crates/sampo-github-action/README.md
  crates/sampo-github-action/action.yml
  crates/sampo-github-action/src/github.rs
  crates/sampo-github-action/src/main.rs
Labels: documentation, devops, dependencies, crt:sampo-github-action

refactor(core): packages support multi-ecosystem with PackageKind enum
  crates/sampo-core/src/filters.rs
  crates/sampo-core/src/lib.rs
  crates/sampo-core/src/prerelease.rs
  crates/sampo-core/src/publish.rs
  crates/sampo-core/src/release.rs
  crates/sampo-core/src/release_tests.rs
  crates/sampo-core/src/types.rs
  crates/sampo-core/src/workspace.rs
Labels: crt:sampo-core

.github/labeler.yml:

# Configuration for automatic PR labeling
# See: https://github.com/actions/labeler

# Add 'documentation' label to any change in documentation
"documentation":
  - "**/*.md"
  - "docs/**"

# Add 'devops' label to any change in configuration files
"devops":
  - ".github/**"
  - ".vscode/**"
  - ".zed/**"
  - ".editorconfig"
  - ".gitignore"

# Add 'dependencies' label to dependency changes
"dependencies":
  - "**/Cargo.toml"
  - "**/Cargo.lock"

# Add crate/package specific labels
"crt:sampo":
  - "crates/sampo/**"
"crt:sampo-core":
  - "crates/sampo-core/**"
"crt:sampo-github-action":
  - "crates/sampo-github-action/**"
"crt:sampo-github-bot":
  - "crates/sampo-github-bot/**"
