Repository bruits/sampo, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, devops, dependencies, crt:sampo, crt:sampo-core, crt:sampo-github-action, crt:sampo-github-bot

fix: Run clippy
  crates/sampo-core/src/adapters/hex/mix.rs
Labels: crt:sampo-core

feat(core/packagist): PHP package discovery and publishing
  .sampo/changesets/dashing-forgemaster-marjatta.md
  README.md
  crates/sampo-core/src/adapters.rs
  crates/sampo-core/src/adapters/packagist.rs
  crates/sampo-core/src/filters.rs
  crates/sampo-core/src/prerelease.rs
  crates/sampo-core/src/publish.rs
  crates/sampo-core/src/release.rs
  crates/sampo-core/src/types.rs
  crates/sampo/README.md
Labels: documentation, crt:sampo, crt:sampo-core

feat(core/mix): support module attribute `@version` in project metadata (#182)
  .sampo/changesets/fabled-princess-sampsa.md
  crates/sampo-core/src/adapters/hex/mix.rs
  crates/sampo-core/src/adapters/hex/mix/mix_tests.rs
Labels: documentation, crt:sampo-core

feat(core/packagist): PHP package discovery and publishing (#173)
  .sampo/changesets/dashing-forgemaster-marjatta.md
  README.md
  crates/sampo-core/src/adapters.rs
  crates/sampo-core/src/adapters/packagist.rs
  crates/sampo-core/src/filters.rs
  crates/sampo-core/src/prerelease.rs
  crates/sampo-core/src/publish.rs
  crates/sampo-core/src/release.rs
  crates/sampo-core/src/types.rs
  crates/sampo/README.md
Labels: documentation, crt:sampo, crt:sampo-core

feat(cli): enhance exit codes for better CI integration (#183)
  .sampo/changesets/valorous-knight-mielikki.md
  crates/sampo/README.md
  crates/sampo/src/main.rs
  crates/sampo/src/prerelease.rs
  crates/sampo/src/publish.rs
  crates/sampo/src/release.rs
  crates/sampo/src/update.rs
Labels: documentation, crt:sampo

better doc and changesets
  .sampo/changesets/dashing-forgemaster-marjatta.md
  .sampo/changesets/fabled-princess-sampsa.md
  .sampo/changesets/valorous-knight-mielikki.md
  AGENTS.md
  CONTRIBUTING.md
  crates/sampo/README.md
Labels: documentation, crt:sampo

replace assert! with Result in raw_span
  crates/sampo-core/src/adapters/hex/mix.rs
  crates/sampo-core/src/adapters/npm.rs
  crates/sampo-core/src/adapters/packagist.rs
Labels: crt:sampo-core

require version field
  crates/sampo-core/src/adapters/packagist.rs
Labels: crt:sampo-core

remove default --strict flag
  crates/sampo-core/src/adapters/packagist.rs
Labels: crt:sampo-core

fix(adapters): standardize missing manifest error type
  .sampo/changesets/forthright-guardian-akka.md
  crates/sampo-core/src/adapters/cargo.rs
  crates/sampo-core/src/adapters/hex/mix.rs
  crates/sampo-core/src/adapters/packagist.rs
  crates/sampo-core/src/adapters/pypi/pip.rs
  crates/sampo-core/src/errors.rs
Labels: documentation, crt:sampo-core

move const
  crates/sampo-core/src/adapters/cargo.rs
Labels: crt:sampo-core

fix(adapters): standardize missing manifest error type (#188)
  .sampo/changesets/forthright-guardian-akka.md
  crates/sampo-core/src/adapters/cargo.rs
  crates/sampo-core/src/adapters/hex/mix.rs
  crates/sampo-core/src/adapters/packagist.rs
  crates/sampo-core/src/adapters/pypi/pip.rs
  crates/sampo-core/src/errors.rs
Labels: documentation, crt:sampo-core

fix(cargo): resolve workspace package versions
  .sampo/changesets/dashing-runesmith-vainamoinen.md
  crates/sampo-core/src/adapters/cargo.rs
  crates/sampo-core/src/adapters/cargo/cargo_tests.rs
Labels: documentation, crt:sampo-core

fix(cargo): resolve workspace package versions (#189)
  .sampo/changesets/dashing-runesmith-vainamoinen.md
  crates/sampo-core/src/adapters/cargo.rs
  crates/sampo-core/src/adapters/cargo/cargo_tests.rs
Labels: documentation, crt:sampo-core

t status replace assert! with Result in raw_span
  crates/sampo-core/src/adapters/npm.rs
  crates/sampo-core/src/adapters/packagist.rs
Labels: crt:sampo-core

require version field
  crates/sampo-core/src/adapters/packagist.rs
Labels: crt:sampo-core

remove default --strict flag
  crates/sampo-core/src/adapters/packagist.rs
Labels: crt:sampo-core

refactor(packagist): graceful errors and relaxed validation (#186)
  crates/sampo-core/src/adapters/npm.rs
  crates/sampo-core/src/adapters/packagist.rs
Labels: crt:sampo-core

feat(git): short_tags option for vX.Y.Z git tags enables composer-compatible releases for php projects
  .sampo/changesets/cranky-lord-erika.md
  crates/sampo-core/src/adapters/packagist.rs
  crates/sampo-core/src/config.rs
  crates/sampo-core/src/publish.rs
  crates/sampo-core/src/release_tests.rs
  crates/sampo-github-action/src/main.rs
  crates/sampo/README.md
Labels: documentation, crt:sampo, crt:sampo-core, crt:sampo-github-action

polish and tests
  crates/sampo-core/src/config.rs
  crates/sampo-github-action/src/main.rs
  crates/sampo/src/cli.rs
Labels: crt:sampo, crt:sampo-core, crt:sampo-github-action

fix reviews
  crates/sampo-core/src/publish.rs
  crates/sampo-github-action/src/main.rs
Labels: crt:sampo-core, crt:sampo-github-action

oops
  crates/sampo-github-action/src/main.rs
Labels: crt:sampo-github-action

feat(git): short_tags option for vX.Y.Z git tags (#191)
  .sampo/changesets/cranky-lord-erika.md
  crates/sampo-core/src/adapters/packagist.rs
  crates/sampo-core/src/config.rs
  crates/sampo-core/src/publish.rs
  crates/sampo-core/src/release_tests.rs
  crates/sampo-github-action/src/main.rs
  crates/sampo/README.md
  crates/sampo/src/cli.rs
Labels: documentation, crt:sampo, crt:sampo-core, crt:sampo-github-action

fix(github-action): Disambiguate same-name packages for prereleases
  .sampo/changesets/grumpy-shaman-lemminkainen.md
  crates/sampo-github-action/src/main.rs
Labels: documentation, crt:sampo-github-action

test(github-action): add coverage for prerelease package disambiguation
  crates/sampo-github-action/src/main.rs
Labels: crt:sampo-github-action

chore: cleanup format package name
  crates/sampo-github-action/src/main.rs
Labels: crt:sampo-github-action

fix(github-action): disambiguate same-name packages for prereleases (#198)
  .sampo/changesets/grumpy-shaman-lemminkainen.md
  crates/sampo-github-action/src/main.rs
Labels: documentation, crt:sampo-github-action

fix(core): skip preserved changesets when workspace is already in prerelease
  .sampo/changesets/wily-queen-mielikki.md
  crates/sampo-core/src/release.rs
  crates/sampo-core/src/release_tests.rs
Labels: documentation, crt:sampo-core

fix(core): use semver parsing for prerelease detection instead of string match
  crates/sampo-core/src/release.rs
Labels: crt:sampo-core

fix(core): skip preserved changesets when workspace is already in prerelease (#201)
  .sampo/changesets/wily-queen-mielikki.md
  crates/sampo-core/src/release.rs
  crates/sampo-core/src/release_tests.rs
Labels: documentation, crt:sampo-core

fix(core): scope prerelease guard to referenced packages only
  .sampo/changesets/jovial-earl-tursas.md
  crates/sampo-core/src/release.rs
  crates/sampo-core/src/release_tests.rs
Labels: documentation, crt:sampo-core

chore: apply suggestions from code review
  crates/sampo-core/src/release.rs
Labels: crt:sampo-core

chore(core): apply comments from github copilot.
  crates/sampo-core/src/release.rs
  crates/sampo-core/src/release_tests.rs
Labels: crt:sampo-core

chore(core): apply comments from github copilot.
  crates/sampo-core/src/release.rs
  crates/sampo-core/src/release_tests.rs
Labels: crt:sampo-core

chore(core): apply comments from github copilot.
  crates/sampo-core/src/release.rs
Labels: crt:sampo-core

chore(core): expand test assertions.
  crates/sampo-core/src/release_tests.rs
Labels: crt:sampo-core

chore(core): recover .tmp files.
  crates/sampo-core/src/release.rs
  crates/sampo-core/src/release_tests.rs
Labels: crt:sampo-core

chore: apply suggestions.
  crates/sampo-core/src/release.rs
Labels: crt:sampo-core

chore: undo tmp and use Result instead.
  crates/sampo-core/src/release.rs
  crates/sampo-core/src/release_tests.rs
Labels: crt:sampo-core

docs(core): update docs to remove tmp.
  crates/sampo-core/src/release.rs
Labels: crt:sampo-core

.github/labeler.yml:

# Configuration for automatic PR labeling
# See: https://github.com/actions/labeler

# Add 'documentation' label to any change in documentation
"documentation":
  - "**/*.md"
  - "docs/**"

# Add 'devops' label to any change in configuration files
"devops":
  - ".github/**"
  - ".vscode/**"
  - ".zed/**"
  - ".editorconfig"
  - ".gitignore"

# Add 'dependencies' label to dependency changes
"dependencies":
  - "**/Cargo.toml"
  - "**/Cargo.lock"

# Add crate/package specific labels
"crt:sampo":
  - "crates/sampo/**"
"crt:sampo-core":
  - "crates/sampo-core/**"
"crt:sampo-github-action":
  - "crates/sampo-github-action/**"
"crt:sampo-github-bot":
  - "crates/sampo-github-bot/**"
