Repository bruits/sampo, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci, dependencies, core, devops

feat: 'add' command with changeset md creation
  AGENTS.md
  Cargo.lock
  crates/sampo/Cargo.toml
  crates/sampo/src/add.rs
  crates/sampo/src/config.rs
  crates/sampo/src/init.rs
  crates/sampo/src/main.rs
  crates/sampo/src/names.rs
  crates/sampo/src/workspace.rs
Labels: documentation, dependencies, core

fix: clippy
  crates/sampo/src/add.rs
  crates/sampo/src/config.rs
  crates/sampo/src/main.rs
  crates/sampo/src/names.rs
  crates/sampo/src/workspace.rs
Labels: core

feat: 'release' command
  crates/sampo/README.md
  crates/sampo/src/add.rs
  crates/sampo/src/changeset.rs
  crates/sampo/src/cli.rs
  crates/sampo/src/main.rs
  crates/sampo/src/release.rs
Labels: documentation, core

refactor: hide intern commands
  README.md
  crates/sampo/README.md
  crates/sampo/src/cli.rs
  crates/sampo/src/main.rs
  crates/sampo/src/workspace.rs
Labels: documentation, core

feat: first draft 'publish' command
  .sampo/changesets/mighty-shaman-kullervo.md
  README.md
  crates/sampo/README.md
  crates/sampo/src/main.rs
  crates/sampo/src/publish.rs
Labels: documentation, core

sampo release
  .sampo/changesets/mighty-shaman-kullervo.md
  crates/sampo/CHANGELOG.md
  crates/sampo/Cargo.toml
Labels: documentation, dependencies, core

feat: 'publish' command & dogfooding
  .gitignore
  Cargo.lock
  README.md
  crates/sampo/Cargo.toml
  crates/sampo/src/cli.rs
  crates/sampo/src/publish.rs
Labels: documentation, dependencies, core, devops

nit: polish changelog
  crates/sampo/CHANGELOG.md
  crates/sampo/src/release.rs
Labels: documentation, core

firdt draft sampo-github-bot
  Cargo.lock
  crates/sampo-github-bot/Cargo.toml
  crates/sampo-github-bot/README.md
  crates/sampo-github-bot/src/main.rs
Labels: documentation, dependencies

feat(sampo-github-bot): deployed on fly.io + Github App Auth
  Cargo.lock
  crates/sampo-github-bot/.dockerignore
  crates/sampo-github-bot/Cargo.toml
  crates/sampo-github-bot/Dockerfile
  crates/sampo-github-bot/fly.toml
  crates/sampo-github-bot/src/main.rs
Labels: dependencies

Test
  crates/sampo-github-bot/README.md
Labels: documentation

test 2
  crates/sampo-github-bot/README.md
Labels: documentation

Test 3
  crates/sampo-github-bot/README.md
Labels: documentation

feat(sampo-github-bot): deployed on fly.io + Github App Auth
  .sampo/changesets/doughty-windweaver-marjatta.md
  Cargo.lock
  README.md
  crates/sampo-github-bot/.dockerignore
  crates/sampo-github-bot/Cargo.toml
  crates/sampo-github-bot/Dockerfile
  crates/sampo-github-bot/README.md
  crates/sampo-github-bot/fly.toml
  crates/sampo-github-bot/src/main.rs
Labels: documentation, dependencies

not an atomic commit but mainly docs + devops
  .vscode/settings.json
  Cargo.lock
  README.md
  crates/sampo-github-bot/Cargo.toml
  crates/sampo-github-bot/Dockerfile
  crates/sampo-github-bot/README.md
  crates/sampo-github-bot/fly.toml
  crates/sampo-github-bot/src/main.rs
  crates/sampo/Cargo.toml
  crates/sampo/README.md
  crates/sampo/src/init.rs
Labels: documentation, dependencies, core, devops

sampo release
  Cargo.lock
  crates/sampo-github-bot/CHANGELOG.md
  crates/sampo-github-bot/Cargo.toml
Labels: documentation, dependencies

fix(publish): release tag filtering and skip existing versions
  .sampo/changesets/venerable-shaman-vainamoinen.md
  README.md
  crates/sampo/src/cli.rs
  crates/sampo/src/publish.rs
Labels: documentation, core

fix(sampo-bot/docker): add openssl-libs-static for static linking in Alpine builds
  .sampo/changesets/doughty-sage-loviatar.md
  crates/sampo-github-bot/Dockerfile
Labels: documentation

first draft
  Cargo.lock
  crates/sampo-github-action/Cargo.toml
  crates/sampo-github-action/README.md
  crates/sampo-github-action/action.yml
  crates/sampo-github-action/src/main.rs
  crates/sampo-github-action/tests/integration.rs
Labels: documentation, dependencies

fix test ?
  crates/sampo-github-action/tests/integration.rs
Labels: none

fix my shit
  Cargo.lock
  crates/sampo-github-action/Cargo.toml
  crates/sampo-github-action/src/main.rs
Labels: dependencies

format
  crates/sampo-github-action/src/main.rs
Labels: none

draft
  .github/workflows/publish.yml
  .github/workflows/release-pr.yml
  crates/sampo-github-action/README.md
  crates/sampo-github-action/action.yml
  crates/sampo-github-action/src/main.rs
  crates/sampo/README.md
  crates/sampo/src/cli.rs
  crates/sampo/src/publish.rs
  crates/sampo/src/release.rs
Labels: documentation, ci, core, devops

fix labeler
  .github/workflows/label.yml
Labels: ci, devops

update doc
  README.md
  crates/sampo-github-action/README.md
  crates/sampo-github-bot/README.md
Labels: documentation

changesets
  .sampo/changesets/fabled-count-vipunen.md
  .sampo/changesets/fearless-queen-loviatar.md
  crates/sampo/README.md
Labels: documentation, core

feat: sampo-github-action (#4)
  .github/workflows/label.yml
  .github/workflows/publish.yml
  .github/workflows/release-pr.yml
  .sampo/changesets/fabled-count-vipunen.md
  .sampo/changesets/fearless-queen-loviatar.md
  Cargo.lock
  README.md
  crates/sampo-github-action/Cargo.toml
  crates/sampo-github-action/README.md
  crates/sampo-github-action/action.yml
  crates/sampo-github-action/src/git.rs
  crates/sampo-github-action/src/github.rs
  crates/sampo-github-action/src/main.rs
  crates/sampo-github-action/src/sampo.rs
  crates/sampo-github-action/tests/integration.rs
  crates/sampo-github-bot/README.md
  crates/sampo/README.md
  crates/sampo/src/cli.rs
  crates/sampo/src/publish.rs
  crates/sampo/src/release.rs
Labels: documentation, ci, dependencies, core, devops

fix(sampo-github-action): better PR message + no github-bot message
  Cargo.lock
  crates/sampo-github-action/Cargo.toml
  crates/sampo-github-action/src/github.rs
  crates/sampo-github-action/src/main.rs
  crates/sampo-github-action/src/sampo.rs
  crates/sampo-github-bot/src/main.rs
Labels: dependencies

review
  crates/sampo-github-action/src/github.rs
  crates/sampo-github-action/src/sampo.rs
Labels: none

changeset
  .sampo/changesets/resolute-duke-tuulikki.md
Labels: documentation

fix(sampo-github-action): better PR message + no github-bot message (#6)
  .sampo/changesets/resolute-duke-tuulikki.md
  Cargo.lock
  crates/sampo-github-action/Cargo.toml
  crates/sampo-github-action/src/github.rs
  crates/sampo-github-action/src/main.rs
  crates/sampo-github-action/src/sampo.rs
  crates/sampo-github-bot/src/main.rs
Labels: documentation, dependencies

first draft
  crates/sampo-github-action/src/sampo.rs
  crates/sampo/src/release.rs
Labels: core

fix review
  Cargo.lock
  crates/sampo-github-action/src/sampo.rs
  crates/sampo-github-action/tests/integration.rs
  crates/sampo/Cargo.toml
  crates/sampo/src/enrichment.rs
Labels: dependencies, core

format
  crates/sampo/src/enrichment.rs
  crates/sampo/src/lib.rs
  crates/sampo/src/release.rs
Labels: core

changeset
  .sampo/changesets/resolute-thunderbearer-tursas.md
Labels: documentation

better config
  .sampo/config.toml.example
  crates/sampo-github-action/src/sampo.rs
  crates/sampo-github-action/tests/integration.rs
  crates/sampo/README.md
  crates/sampo/src/add.rs
  crates/sampo/src/config.rs
  crates/sampo/src/enrichment.rs
  crates/sampo/src/lib.rs
  crates/sampo/src/release.rs
Labels: documentation, core

update changeset
  .sampo/changesets/resolute-thunderbearer-tursas.md
Labels: documentation

nit
  crates/sampo-github-action/src/sampo.rs
Labels: none

feat(sampo): commit hash and acknowledgments (#9)
  .sampo/changesets/resolute-thunderbearer-tursas.md
  .sampo/config.toml.example
  Cargo.lock
  crates/sampo-github-action/Cargo.toml
  crates/sampo-github-action/src/sampo.rs
  crates/sampo-github-action/tests/integration.rs
  crates/sampo/Cargo.toml
  crates/sampo/README.md
  crates/sampo/src/add.rs
  crates/sampo/src/config.rs
  crates/sampo/src/enrichment.rs
  crates/sampo/src/lib.rs
  crates/sampo/src/main.rs
  crates/sampo/src/release.rs
Labels: documentation, dependencies, core

devops(sampo-github-bot): fly.io deploys
  .github/workflows/publish.yml
Labels: ci, devops

.github/labeler.yml:

# Configuration for automatic PR labeling
# See: https://github.com/actions/labeler

# Add 'documentation' label to any change in documentation
"documentation":
  - "**/*.md"
  - "docs/**"

# Add 'ci' label to any change in CI/CD configuration
"ci":
  - ".github/**"

# Add 'dependencies' label to dependency changes
"dependencies":
  - "**/Cargo.toml"
  - "**/Cargo.lock"

# Add 'core' label to changes in the main sampo crate
"core":
  - "crates/sampo/**"

"devops":
  - ".github/**"
  - ".vscode/**"
  - ".zed/**"
  - ".editorconfig"
  - ".gitignore"
