Repository bruits/sampo, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, devops, dependencies, crt:sampo, crt:sampo-core, crt:sampo-github-action, crt:sampo-github-bot

remove redundant imports of PackageKind in test module
  crates/sampo-core/src/publish.rs
Labels: crt:sampo-core

refactor(core): packages support multi-ecosystem with PackageKind enum (#99)
  crates/sampo-core/src/filters.rs
  crates/sampo-core/src/lib.rs
  crates/sampo-core/src/prerelease.rs
  crates/sampo-core/src/publish.rs
  crates/sampo-core/src/release.rs
  crates/sampo-core/src/release_tests.rs
  crates/sampo-core/src/types.rs
  crates/sampo-core/src/workspace.rs
Labels: crt:sampo-core

refactor(core): extract Cargo discovery into trait
  crates/sampo-core/src/discovery.rs
  crates/sampo-core/src/lib.rs
  crates/sampo-core/src/publish.rs
  crates/sampo-core/src/release.rs
  crates/sampo-core/src/workspace.rs
Labels: crt:sampo-core

replace trait-based discovery with enum
  crates/sampo-core/src/discovery.rs
  crates/sampo-core/src/lib.rs
  crates/sampo-core/src/workspace.rs
Labels: crt:sampo-core

root.get_or_insert
  crates/sampo-core/src/workspace.rs
Labels: crt:sampo-core

refactor(core): extract Cargo discovery into trait (#100)
  crates/sampo-core/src/discovery.rs
  crates/sampo-core/src/lib.rs
  crates/sampo-core/src/publish.rs
  crates/sampo-core/src/release.rs
  crates/sampo-core/src/workspace.rs
Labels: crt:sampo-core

refactor(core): PackageAdapter trait
  CONTRIBUTING.md
  crates/sampo-core/src/adapters.rs
  crates/sampo-core/src/adapters/cargo.rs
  crates/sampo-core/src/lib.rs
  crates/sampo-core/src/publish.rs
  crates/sampo-core/src/release.rs
  crates/sampo-core/src/workspace.rs
Labels: documentation, crt:sampo-core

update doc
  CONTRIBUTING.md
Labels: documentation

review fix
  crates/sampo-core/src/adapters.rs
  crates/sampo-core/src/adapters/cargo.rs
  crates/sampo-core/src/filters.rs
  crates/sampo-core/src/lib.rs
  crates/sampo-core/src/prerelease.rs
  crates/sampo-core/src/publish.rs
  crates/sampo-core/src/release.rs
Labels: crt:sampo-core

todo
  crates/sampo-core/src/adapters.rs
  crates/sampo-core/src/filters.rs
Labels: crt:sampo-core

Update crates/sampo-core/src/adapters/cargo.rs
  crates/sampo-core/src/adapters/cargo.rs
Labels: crt:sampo-core

refactor(core): PackageAdapter trait (#101)
  CONTRIBUTING.md
  crates/sampo-core/src/adapters.rs
  crates/sampo-core/src/adapters/cargo.rs
  crates/sampo-core/src/filters.rs
  crates/sampo-core/src/lib.rs
  crates/sampo-core/src/prerelease.rs
  crates/sampo-core/src/publish.rs
  crates/sampo-core/src/release.rs
  crates/sampo-core/src/workspace.rs
Labels: documentation, crt:sampo-core

feat(core): canonical package identifiers
  .sampo/changesets/haughty-prince-tuoni.md
  CONTRIBUTING.md
  crates/sampo-core/src/adapters/cargo.rs
  crates/sampo-core/src/changeset.rs
  crates/sampo-core/src/filters.rs
  crates/sampo-core/src/prerelease.rs
  crates/sampo-core/src/publish.rs
  crates/sampo-core/src/release.rs
  crates/sampo-core/src/release_tests.rs
  crates/sampo-core/src/types.rs
  crates/sampo-core/src/workspace.rs
  crates/sampo-github-action/src/main.rs
  crates/sampo-github-action/src/sampo.rs
  crates/sampo/README.md
  crates/sampo/src/add.rs
  crates/sampo/src/prerelease.rs
Labels: documentation, crt:sampo, crt:sampo-core, crt:sampo-github-action

hide ecosystem prefixes in user UI for mono-ecosystem repo
  crates/sampo-core/src/release.rs
  crates/sampo-core/src/release_tests.rs
  crates/sampo-core/src/types.rs
  crates/sampo-github-action/src/sampo.rs
  crates/sampo/src/add.rs
  crates/sampo/src/prerelease.rs
  crates/sampo/src/ui.rs
Labels: crt:sampo, crt:sampo-core, crt:sampo-github-action

improve changelog updates labels
  .sampo/changesets/haughty-prince-tuoni.md
  crates/sampo-core/src/release.rs
  crates/sampo-core/src/release_tests.rs
  crates/sampo-github-action/src/sampo.rs
  crates/sampo/README.md
Labels: documentation, crt:sampo, crt:sampo-core, crt:sampo-github-action

centralize package specifier resolution
  .sampo/changesets/haughty-prince-tuoni.md
  crates/sampo-core/src/prerelease.rs
  crates/sampo-core/src/release.rs
  crates/sampo-core/src/types.rs
  crates/sampo-github-action/src/sampo.rs
  crates/sampo/src/add.rs
  crates/sampo/src/prerelease.rs
Labels: documentation, crt:sampo, crt:sampo-core, crt:sampo-github-action

simplify strip_wrapping_quotes
  crates/sampo-core/src/types.rs
Labels: crt:sampo-core

feat(core): canonical package identifiers (#102)
  .sampo/changesets/haughty-prince-tuoni.md
  CONTRIBUTING.md
  crates/sampo-core/src/adapters/cargo.rs
  crates/sampo-core/src/changeset.rs
  crates/sampo-core/src/filters.rs
  crates/sampo-core/src/prerelease.rs
  crates/sampo-core/src/publish.rs
  crates/sampo-core/src/release.rs
  crates/sampo-core/src/release_tests.rs
  crates/sampo-core/src/types.rs
  crates/sampo-core/src/workspace.rs
  crates/sampo-github-action/src/main.rs
  crates/sampo-github-action/src/sampo.rs
  crates/sampo/README.md
  crates/sampo/src/add.rs
  crates/sampo/src/prerelease.rs
  crates/sampo/src/ui.rs
Labels: documentation, crt:sampo, crt:sampo-core, crt:sampo-github-action

docs: better tips and ecosystem tracker link
  CONTRIBUTING.md
  README.md
  crates/sampo/README.md
Labels: documentation, crt:sampo

feat(core): adopt slash-qualified canonical IDs
  .sampo/changesets/haughty-prince-tuoni.md
  crates/sampo-core/src/adapters/cargo.rs
  crates/sampo-core/src/changeset.rs
  crates/sampo-core/src/filters.rs
  crates/sampo-core/src/publish.rs
  crates/sampo-core/src/release.rs
  crates/sampo-core/src/release_tests.rs
  crates/sampo-core/src/types.rs
  crates/sampo-core/src/workspace.rs
  crates/sampo-github-action/src/sampo.rs
  crates/sampo/README.md
  crates/sampo/src/prerelease.rs
Labels: documentation, crt:sampo, crt:sampo-core, crt:sampo-github-action

feat(core): adopt slash-qualified canonical IDs (#105)
  .sampo/changesets/haughty-prince-tuoni.md
  crates/sampo-core/src/adapters/cargo.rs
  crates/sampo-core/src/changeset.rs
  crates/sampo-core/src/filters.rs
  crates/sampo-core/src/publish.rs
  crates/sampo-core/src/release.rs
  crates/sampo-core/src/release_tests.rs
  crates/sampo-core/src/types.rs
  crates/sampo-core/src/workspace.rs
  crates/sampo-github-action/src/sampo.rs
  crates/sampo/README.md
  crates/sampo/src/prerelease.rs
Labels: documentation, crt:sampo, crt:sampo-core, crt:sampo-github-action

try to fix per-crate binaries to github releases
  .github/workflows/release.yml
  .sampo/changesets/mighty-duke-vipunen.md
  .sampo/changesets/steadfast-duchess-mielikki.md
  crates/sampo-github-action/Cargo.toml
  crates/sampo-github-action/src/main.rs
  crates/sampo/Cargo.toml
Labels: documentation, devops, dependencies, crt:sampo, crt:sampo-github-action

format
  crates/sampo-github-action/src/main.rs
Labels: crt:sampo-github-action

fix: per-crate binaries to github releases (#106)
  .github/workflows/release.yml
  .sampo/changesets/mighty-duke-vipunen.md
  .sampo/changesets/steadfast-duchess-mielikki.md
  crates/sampo-github-action/Cargo.toml
  crates/sampo-github-action/src/main.rs
  crates/sampo/Cargo.toml
Labels: documentation, devops, dependencies, crt:sampo, crt:sampo-github-action

feat(core/npm): support discovery and releases
  .sampo/changesets/haughty-witch-ilmatar.md
  Cargo.lock
  README.md
  crates/sampo-core/Cargo.toml
  crates/sampo-core/src/adapters.rs
  crates/sampo-core/src/adapters/cargo.rs
  crates/sampo-core/src/adapters/npm.rs
  crates/sampo-core/src/errors.rs
  crates/sampo-core/src/filters.rs
  crates/sampo-core/src/manifest.rs
  crates/sampo-core/src/prerelease.rs
  crates/sampo-core/src/release.rs
  crates/sampo-core/src/release_tests.rs
  crates/sampo-core/src/types.rs
  crates/sampo-core/src/workspace.rs
  crates/sampo/README.md
Labels: documentation, dependencies, crt:sampo, crt:sampo-core

refactor manifest handling and adapters tests
  crates/sampo-core/src/adapters.rs
  crates/sampo-core/src/adapters/cargo.rs
  crates/sampo-core/src/adapters/cargo/cargo_tests.rs
  crates/sampo-core/src/adapters/npm.rs
  crates/sampo-core/src/adapters/npm/npm_tests.rs
  crates/sampo-core/src/lib.rs
  crates/sampo-core/src/manifest.rs
  crates/sampo-core/src/prerelease.rs
  crates/sampo-core/src/release.rs
  crates/sampo-core/src/release_tests.rs
Labels: crt:sampo-core

review
  crates/sampo-core/src/adapters/npm.rs
Labels: crt:sampo-core

feat(core/npm): support discovery and releases (#112)
  .sampo/changesets/haughty-witch-ilmatar.md
  Cargo.lock
  README.md
  crates/sampo-core/Cargo.toml
  crates/sampo-core/src/adapters.rs
  crates/sampo-core/src/adapters/cargo.rs
  crates/sampo-core/src/adapters/cargo/cargo_tests.rs
  crates/sampo-core/src/adapters/npm.rs
  crates/sampo-core/src/adapters/npm/npm_tests.rs
  crates/sampo-core/src/errors.rs
  crates/sampo-core/src/filters.rs
  crates/sampo-core/src/lib.rs
  crates/sampo-core/src/manifest.rs
  crates/sampo-core/src/prerelease.rs
  crates/sampo-core/src/release.rs
  crates/sampo-core/src/release_tests.rs
  crates/sampo-core/src/types.rs
  crates/sampo-core/src/workspace.rs
  crates/sampo/README.md
Labels: documentation, dependencies, crt:sampo, crt:sampo-core

feat(core/npm): publishing support to npm
  .sampo/changesets/haughty-witch-ilmatar.md
  crates/sampo-core/src/adapters.rs
  crates/sampo-core/src/adapters/cargo.rs
  crates/sampo-core/src/adapters/npm.rs
  crates/sampo-core/src/adapters/npm/npm_tests.rs
  crates/sampo-core/src/publish.rs
  crates/sampo-github-action/src/sampo.rs
  crates/sampo/src/cli.rs
  crates/sampo/src/publish.rs
Labels: documentation, crt:sampo, crt:sampo-core, crt:sampo-github-action

update action doc
  crates/sampo-github-action/README.md
Labels: documentation, crt:sampo-github-action

fix tests
  crates/sampo-github-action/tests/integration.rs
Labels: crt:sampo-github-action

version_exists with optional manifest
  crates/sampo-core/src/adapters.rs
  crates/sampo-core/src/adapters/cargo.rs
  crates/sampo-core/src/adapters/npm.rs
  crates/sampo-core/src/publish.rs
Labels: crt:sampo-core

feat(core/npm): publishing support to npm (#114)
  .sampo/changesets/haughty-witch-ilmatar.md
  crates/sampo-core/src/adapters.rs
  crates/sampo-core/src/adapters/npm.rs
  crates/sampo-core/src/adapters/npm/npm_tests.rs
  crates/sampo-core/src/publish.rs
  crates/sampo-github-action/README.md
  crates/sampo-github-action/src/sampo.rs
  crates/sampo-github-action/tests/integration.rs
  crates/sampo/src/cli.rs
  crates/sampo/src/publish.rs
Labels: documentation, crt:sampo, crt:sampo-core, crt:sampo-github-action

feat(core/npm): lockfile regeneration
  .sampo/changesets/haughty-witch-ilmatar.md
  AGENTS.md
  crates/sampo-core/src/adapters/npm.rs
  crates/sampo-core/src/adapters/npm/npm_tests.rs
  crates/sampo-core/src/prerelease.rs
  crates/sampo-core/src/release.rs
  crates/sampo-core/src/types.rs
Labels: documentation, crt:sampo-core

feat(core/npm): lockfile regeneration (#115)
  .sampo/changesets/haughty-witch-ilmatar.md
  AGENTS.md
  crates/sampo-core/src/adapters/npm.rs
  crates/sampo-core/src/adapters/npm/npm_tests.rs
  crates/sampo-core/src/prerelease.rs
  crates/sampo-core/src/release.rs
  crates/sampo-core/src/types.rs
Labels: documentation, crt:sampo-core

discovery & versioning
  crates/sampo-core/src/adapters.rs
  crates/sampo-core/src/adapters/hex.rs
  crates/sampo-core/src/adapters/hex/hex_tests.rs
  crates/sampo-core/src/filters.rs
  crates/sampo-core/src/prerelease.rs
  crates/sampo-core/src/publish.rs
  crates/sampo-core/src/release.rs
  crates/sampo-core/src/types.rs
  crates/sampo-core/src/workspace.rs
Labels: crt:sampo-core

publishing
  .sampo/changesets/valorous-duchess-loviatar.md
  crates/sampo-core/src/adapters/hex.rs
  crates/sampo-core/src/adapters/hex/hex_tests.rs
  crates/sampo-github-action/README.md
  crates/sampo/README.md
Labels: documentation, crt:sampo, crt:sampo-core, crt:sampo-github-action

regenerate_lockfile
  crates/sampo-core/src/adapters/hex.rs
  crates/sampo-core/src/adapters/hex/hex_tests.rs
Labels: crt:sampo-core

rate limiting
  crates/sampo-core/src/adapters/hex.rs
Labels: crt:sampo-core

use tree_sitter instead of manual parsing
  Cargo.lock
  crates/sampo-core/Cargo.toml
  crates/sampo-core/src/adapters/hex.rs
Labels: dependencies, crt:sampo-core

.github/labeler.yml:

# Configuration for automatic PR labeling
# See: https://github.com/actions/labeler

# Add 'documentation' label to any change in documentation
"documentation":
  - "**/*.md"
  - "docs/**"

# Add 'devops' label to any change in configuration files
"devops":
  - ".github/**"
  - ".vscode/**"
  - ".zed/**"
  - ".editorconfig"
  - ".gitignore"

# Add 'dependencies' label to dependency changes
"dependencies":
  - "**/Cargo.toml"
  - "**/Cargo.lock"

# Add crate/package specific labels
"crt:sampo":
  - "crates/sampo/**"
"crt:sampo-core":
  - "crates/sampo-core/**"
"crt:sampo-github-action":
  - "crates/sampo-github-action/**"
"crt:sampo-github-bot":
  - "crates/sampo-github-bot/**"
