Repository bruits/sampo, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, devops, dependencies, crt:sampo, crt:sampo-core, crt:sampo-github-action, crt:sampo-github-bot

chore: fix by using hard fail
  crates/sampo-core/src/release.rs
Labels: crt:sampo-core

fix(core): adjust prerelease entry bumps and preservation (#216)
  .sampo/changesets/forthright-lord-ahti.md
  crates/sampo-core/src/release.rs
  crates/sampo-core/src/release_tests.rs
  crates/sampo/README.md
Labels: documentation, crt:sampo, crt:sampo-core

fix(github-action): pin binary version
  .sampo/changesets/forthright-lord-ahti.md
  .sampo/changesets/pompous-princess-sampsa.md
  crates/sampo-core/src/release.rs
  crates/sampo-github-action/action.yml
  crates/sampo-github-action/src/github.rs
  crates/sampo-github-action/src/main.rs
Labels: documentation, crt:sampo-core, crt:sampo-github-action

fix(github-action): uploading release assets
  .sampo/changesets/valiant-duke-erika.md
  crates/sampo-github-action/README.md
  crates/sampo-github-action/src/github.rs
  crates/sampo-github-action/src/main.rs
Labels: documentation, crt:sampo-github-action

fix(core,github-action): stabilize version computation and PR creation
  .sampo/changesets/virtuous-lord-vellamo.md
  crates/sampo-core/src/lib.rs
  crates/sampo-core/src/release.rs
  crates/sampo-core/src/release_tests.rs
  crates/sampo-github-action/src/main.rs
  crates/sampo-github-action/src/sampo.rs
Labels: documentation, crt:sampo-core, crt:sampo-github-action

chore: changeset
  .sampo/changesets/cantankerous-wolfkin-tuulikki.md
  crates/sampo-core/src/adapters/cargo.rs
  crates/sampo-core/src/adapters/cargo/cargo_tests.rs
  crates/sampo-core/src/adapters/hex/mix.rs
  crates/sampo-core/src/adapters/npm.rs
  crates/sampo-core/src/adapters/packagist.rs
  crates/sampo-core/src/adapters/pypi/pip.rs
  crates/sampo-core/src/filters.rs
  crates/sampo-core/src/publish.rs
  crates/sampo-core/src/release.rs
  crates/sampo-core/src/release_tests.rs
  crates/sampo-core/src/types.rs
Labels: documentation, crt:sampo-core

fix: adjust for feedback
  .sampo/changesets/cantankerous-wolfkin-tuulikki.md
  crates/sampo-core/src/publish.rs
Labels: documentation, crt:sampo-core

don't skip publish
  crates/sampo-core/src/release.rs
  crates/sampo-core/src/release_tests.rs
  crates/sampo-github-action/src/main.rs
  crates/sampo-github-action/src/sampo.rs
Labels: crt:sampo-core, crt:sampo-github-action

fix(core,github-action): stabilize version computation and PR creation (#225)
  .sampo/changesets/virtuous-lord-vellamo.md
  crates/sampo-core/src/lib.rs
  crates/sampo-core/src/release.rs
  crates/sampo-core/src/release_tests.rs
  crates/sampo-github-action/src/main.rs
  crates/sampo-github-action/src/sampo.rs
Labels: documentation, crt:sampo-core, crt:sampo-github-action

fix(sampo-core): Fixes dev deps cycle not being allowed in Cargo (#227)
  .sampo/changesets/cantankerous-wolfkin-tuulikki.md
  crates/sampo-core/src/adapters/cargo.rs
  crates/sampo-core/src/adapters/cargo/cargo_tests.rs
  crates/sampo-core/src/adapters/hex/mix.rs
  crates/sampo-core/src/adapters/npm.rs
  crates/sampo-core/src/adapters/packagist.rs
  crates/sampo-core/src/adapters/pypi/pip.rs
  crates/sampo-core/src/filters.rs
  crates/sampo-core/src/publish.rs
  crates/sampo-core/src/release.rs
  crates/sampo-core/src/release_tests.rs
  crates/sampo-core/src/types.rs
Labels: documentation, crt:sampo-core

polish changesets before releases
  .sampo/changesets/cantankerous-wolfkin-tuulikki.md
  .sampo/changesets/virtuous-lord-vellamo.md
Labels: documentation

Add compatibility for bun.lock
  crates/sampo-core/src/adapters/npm.rs
  crates/sampo-core/src/adapters/npm/npm_tests.rs
  crates/sampo-core/src/release.rs
Labels: crt:sampo-core

cargo fmt
  crates/sampo-core/src/adapters/npm.rs
  crates/sampo-core/src/release.rs
Labels: crt:sampo-core

Add bun.lock changeset
  .sampo/changesets/valorous-stormcaller-ilmatar.md
Labels: documentation

fix(cargo): don't add versions to path-only dev dependencies
  crates/sampo-core/src/adapters/cargo.rs
  crates/sampo-core/src/adapters/cargo/cargo_tests.rs
Labels: crt:sampo-core

chore: changeset
  .sampo/changesets/stalwart-baron-hiisi.md
Labels: documentation

fix: adjust for feedback
  crates/sampo-core/src/adapters/cargo/cargo_tests.rs
Labels: crt:sampo-core

fix(sampo-core): support bun.lock (#233)
  .sampo/changesets/valorous-stormcaller-ilmatar.md
  crates/sampo-core/src/adapters/npm.rs
  crates/sampo-core/src/adapters/npm/npm_tests.rs
  crates/sampo-core/src/release.rs
Labels: documentation, crt:sampo-core

fix(cargo): don't add versions to path-only dev dependencies (#234)
  .sampo/changesets/stalwart-baron-hiisi.md
  crates/sampo-core/src/adapters/cargo.rs
  crates/sampo-core/src/adapters/cargo/cargo_tests.rs
Labels: documentation, crt:sampo-core

polish before release
  .sampo/changesets/stalwart-baron-hiisi.md
  .sampo/changesets/valorous-stormcaller-ilmatar.md
  crates/sampo-core/src/release.rs
Labels: documentation, crt:sampo-core

chore: clear dependabot and codeql alerts
  .github/dependabot.yml
  .github/workflows/ci.yml
  Cargo.lock
  crates/sampo-github-bot/Cargo.toml
Labels: devops, dependencies, crt:sampo-github-bot

fix clippy lints surfaced by rust 1.95
  crates/sampo-core/src/adapters/hex/mix.rs
  crates/sampo-core/src/adapters/npm.rs
  crates/sampo-core/src/adapters/packagist.rs
  crates/sampo-core/src/release.rs
Labels: crt:sampo-core

feat(core,github-action): configurable git tag format
  .sampo/changesets/somber-iceseeker-marjatta.md
  crates/sampo-core/src/config.rs
  crates/sampo-core/src/lib.rs
  crates/sampo-core/src/publish.rs
  crates/sampo-core/src/release_tests.rs
  crates/sampo-core/src/tag_template.rs
  crates/sampo-github-action/src/main.rs
  crates/sampo-github-action/tests/integration.rs
  crates/sampo/README.md
Labels: documentation, crt:sampo, crt:sampo-core, crt:sampo-github-action

chore: clear dependabot and codeql alerts (#241)
  .github/dependabot.yml
  .github/workflows/ci.yml
  Cargo.lock
  crates/sampo-core/src/adapters/hex/mix.rs
  crates/sampo-core/src/adapters/npm.rs
  crates/sampo-core/src/adapters/packagist.rs
  crates/sampo-core/src/release.rs
  crates/sampo-github-bot/Cargo.toml
Labels: devops, dependencies, crt:sampo-core, crt:sampo-github-bot

keep tag-format default and detect tag conflicts at publish
  .sampo/changesets/somber-iceseeker-marjatta.md
  crates/sampo-core/src/config.rs
  crates/sampo-core/src/publish.rs
  crates/sampo-github-action/src/main.rs
  crates/sampo-github-action/tests/integration.rs
  crates/sampo/README.md
Labels: documentation, crt:sampo, crt:sampo-core, crt:sampo-github-action

chore(deps): bump workspace dependencies
  Cargo.lock
  crates/sampo-core/Cargo.toml
  crates/sampo-core/src/adapters/cargo.rs
  crates/sampo-core/src/config.rs
  crates/sampo-core/src/release_tests.rs
  crates/sampo-github-action/Cargo.toml
  crates/sampo-github-bot/Cargo.toml
  crates/sampo-github-bot/src/main.rs
  crates/sampo/Cargo.toml
  crates/sampo/src/add.rs
  crates/sampo/src/names.rs
  crates/sampo/src/prerelease.rs
Labels: dependencies, crt:sampo, crt:sampo-core, crt:sampo-github-action, crt:sampo-github-bot

feat(core): configurable git tag format (#242)
  .sampo/changesets/somber-iceseeker-marjatta.md
  crates/sampo-core/src/config.rs
  crates/sampo-core/src/lib.rs
  crates/sampo-core/src/publish.rs
  crates/sampo-core/src/release_tests.rs
  crates/sampo-core/src/tag_template.rs
  crates/sampo-github-action/src/main.rs
  crates/sampo/README.md
Labels: documentation, crt:sampo, crt:sampo-core, crt:sampo-github-action

feat(sampo): publish to npm
  .github/workflows/release.yml
  .sampo/changesets/publish-sampo-to-npm.md
  .sampo/config.toml
  crates/sampo/README.md
  package.json
  packages/sampo-darwin-arm64/.gitignore
  packages/sampo-darwin-arm64/bin/.gitkeep
  packages/sampo-darwin-arm64/package.json
  packages/sampo-darwin-x64/.gitignore
  packages/sampo-darwin-x64/bin/.gitkeep
  packages/sampo-darwin-x64/package.json
  packages/sampo-linux-arm64/.gitignore
  packages/sampo-linux-arm64/bin/.gitkeep
  packages/sampo-linux-arm64/package.json
  packages/sampo-linux-x64/.gitignore
  packages/sampo-linux-x64/bin/.gitkeep
  packages/sampo-linux-x64/package.json
  packages/sampo-win32-x64/.gitignore
  packages/sampo-win32-x64/bin/.gitkeep
  packages/sampo-win32-x64/package.json
  packages/sampo/bin/sampo.js
  packages/sampo/package.json
  pnpm-workspace.yaml
  scripts/assemble-npm-binaries.sh
Labels: documentation, devops, crt:sampo

harden npm publish flow
  .sampo/changesets/publish-sampo-to-npm.md
  crates/sampo/Cargo.toml
  packages/sampo-darwin-arm64/package.json
  packages/sampo-darwin-x64/package.json
  packages/sampo-linux-arm64/package.json
  packages/sampo-linux-x64/package.json
  packages/sampo-win32-x64/package.json
  packages/sampo/bin/sampo.js
  packages/sampo/package.json
  scripts/assemble-npm-binaries.sh
Labels: documentation, dependencies, crt:sampo

.github/labeler.yml:

# Configuration for automatic PR labeling
# See: https://github.com/actions/labeler

# Add 'documentation' label to any change in documentation
"documentation":
  - "**/*.md"
  - "docs/**"

# Add 'devops' label to any change in configuration files
"devops":
  - ".github/**"
  - ".vscode/**"
  - ".zed/**"
  - ".editorconfig"
  - ".gitignore"

# Add 'dependencies' label to dependency changes
"dependencies":
  - "**/Cargo.toml"
  - "**/Cargo.lock"

# Add crate/package specific labels
"crt:sampo":
  - "crates/sampo/**"
"crt:sampo-core":
  - "crates/sampo-core/**"
"crt:sampo-github-action":
  - "crates/sampo-github-action/**"
"crt:sampo-github-bot":
  - "crates/sampo-github-bot/**"
