Repository bruits/sampo, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, devops, dependencies, crt:sampo, crt:sampo-core, crt:sampo-github-action, crt:sampo-github-bot

doc
  crates/sampo-github-action/README.md
Labels: documentation, crt:sampo-github-action

feat(sampo-github-action): upload binaries in github releases (#33)
  crates/sampo-github-action/README.md
  crates/sampo-github-action/action.yml
  crates/sampo-github-action/src/main.rs
Labels: documentation, crt:sampo-github-action

refactor(sampo-core): move release and publish core logic from sampo cli (#30)
  .github/workflows/ci.yml
  .sampo/changesets/stern-prince-marjatta.md
  AGENTS.md
  Cargo.lock
  README.md
  crates/sampo-core/Cargo.toml
  crates/sampo-core/src/lib.rs
  crates/sampo-core/src/publish.rs
  crates/sampo-core/src/release.rs
  crates/sampo-core/src/release_tests.rs
  crates/sampo/README.md
  crates/sampo/src/publish.rs
  crates/sampo/src/release.rs
  rust-toolchain.toml
Labels: documentation, devops, dependencies, crt:sampo, crt:sampo-core

feat(sampo-github-action): upload binaries in github releases (#33)
  .sampo/changesets/venerable-baron-lempo.md
  crates/sampo-core/src/lib.rs
  crates/sampo-core/src/release.rs
  crates/sampo-core/src/release_tests.rs
  crates/sampo-core/src/types.rs
  crates/sampo-github-action/README.md
  crates/sampo-github-action/action.yml
  crates/sampo-github-action/src/main.rs
  crates/sampo-github-action/src/sampo.rs
  crates/sampo-github-action/tests/integration.rs
  crates/sampo/src/release.rs
Labels: documentation, crt:sampo, crt:sampo-core, crt:sampo-github-action

feat(sampo-github-action): upload binaries in github releases (#33)
  .sampo/changesets/venerable-baron-lempo.md
  crates/sampo-core/src/lib.rs
  crates/sampo-core/src/release.rs
  crates/sampo-core/src/release_tests.rs
  crates/sampo-core/src/types.rs
  crates/sampo-github-action/README.md
  crates/sampo-github-action/action.yml
  crates/sampo-github-action/src/main.rs
  crates/sampo-github-action/src/sampo.rs
  crates/sampo-github-action/tests/integration.rs
  crates/sampo/src/release.rs
Labels: documentation, crt:sampo, crt:sampo-core, crt:sampo-github-action

refactor(sampo-core): move release and publish core logic from sampo cli (#30)
  .sampo/changesets/stern-prince-marjatta.md
  AGENTS.md
  Cargo.lock
  README.md
  crates/sampo-core/Cargo.toml
  crates/sampo-core/src/lib.rs
  crates/sampo-core/src/publish.rs
  crates/sampo-core/src/release.rs
  crates/sampo-core/src/release_tests.rs
  crates/sampo/README.md
  crates/sampo/src/publish.rs
  crates/sampo/src/release.rs
Labels: documentation, dependencies, crt:sampo, crt:sampo-core

restore detailed changelog for release PRs
  .sampo/changesets/fearless-king-kalma.md
  Cargo.lock
  crates/sampo-github-action/src/main.rs
  crates/sampo-github-action/src/sampo.rs
Labels: documentation, dependencies, crt:sampo-github-action

fix(release): unsolicited Cargo.toml formatting
  .sampo/changesets/venerable-witch-mielikki.md
  crates/sampo-core/src/release.rs
  crates/sampo-core/src/release_tests.rs
Labels: documentation, crt:sampo-core

restore cargo.toml
  crates/sampo-core/Cargo.toml
  crates/sampo-github-action/Cargo.toml
  crates/sampo-github-bot/Cargo.toml
  crates/sampo/Cargo.toml
Labels: dependencies, crt:sampo, crt:sampo-core, crt:sampo-github-action, crt:sampo-github-bot

drop clap in sampo-github-action
  Cargo.lock
  crates/sampo-github-action/Cargo.toml
  crates/sampo-github-action/src/main.rs
  crates/sampo-github-action/src/sampo.rs
  crates/sampo-github-action/tests/integration.rs
  crates/sampo/Cargo.toml
Labels: dependencies, crt:sampo, crt:sampo-github-action

fix(sampo-github-action): restore detailed changelog and stop cargo.toml formating (#36)
  .sampo/changesets/fearless-king-kalma.md
  .sampo/changesets/venerable-witch-mielikki.md
  Cargo.lock
  crates/sampo-core/Cargo.toml
  crates/sampo-core/src/release.rs
  crates/sampo-core/src/release_tests.rs
  crates/sampo-github-action/Cargo.toml
  crates/sampo-github-action/src/main.rs
  crates/sampo-github-action/src/sampo.rs
  crates/sampo-github-action/tests/integration.rs
  crates/sampo-github-bot/Cargo.toml
  crates/sampo/Cargo.toml
Labels: documentation, dependencies, crt:sampo, crt:sampo-core, crt:sampo-github-action, crt:sampo-github-bot

feat(sampo-github-action): changelog-based release body and open GitHub Discussions option Fixes #27
  .github/workflows/publish.yml
  .sampo/changesets/somber-runesmith-aurelien.md
  Cargo.lock
  crates/sampo-github-action/Cargo.toml
  crates/sampo-github-action/README.md
  crates/sampo-github-action/action.yml
  crates/sampo-github-action/src/main.rs
Labels: documentation, devops, dependencies, crt:sampo-github-action

Oops
  crates/sampo-core/Cargo.toml
Labels: dependencies, crt:sampo-core

Oops
  crates/sampo-core/Cargo.toml
  crates/sampo-core/src/release_tests.rs
  crates/sampo-github-action/Cargo.toml
  crates/sampo/Cargo.toml
Labels: dependencies, crt:sampo, crt:sampo-core, crt:sampo-github-action

tmp test
  .sampo/changesets/somber-witch-louhi.md
  Cargo.lock
Labels: documentation, dependencies

feat(sampo-github-action): refactor GitHub API and use reqwest
  .sampo/changesets/grumpy-princess-tuoni.md
  Cargo.lock
  crates/sampo-github-action/Cargo.toml
  crates/sampo-github-action/src/github.rs
  crates/sampo-github-action/src/main.rs
Labels: documentation, dependencies, crt:sampo-github-action

reuses the same HTTP client
  crates/sampo-github-action/src/main.rs
Labels: crt:sampo-github-action

error if Github Client fail
  crates/sampo-github-action/src/main.rs
Labels: crt:sampo-github-action

feat(sampo-github-action): refactor GitHub API and use reqwest (#41)
  .sampo/changesets/grumpy-princess-tuoni.md
  Cargo.lock
  crates/sampo-github-action/Cargo.toml
  crates/sampo-github-action/src/github.rs
  crates/sampo-github-action/src/main.rs
Labels: documentation, dependencies, crt:sampo-github-action

ooops
  Cargo.lock
  crates/sampo-github-action/Cargo.toml
Labels: dependencies, crt:sampo-github-action

fix(sampo-core): propagate an unpublished fix for malfored Cargo.toml
  .sampo/changesets/cunning-lady-vainamoinen.md
  Cargo.lock
  crates/sampo-github-action/Cargo.toml
Labels: documentation, dependencies, crt:sampo-github-action

feat(sampo-github-action): add use-local-build option for local development
  .github/workflows/publish.yml
  .github/workflows/release-pr.yml
  crates/sampo-github-action/action.yml
Labels: devops, crt:sampo-github-action

fix(sampo-core): Fix workspace true dependencies handling
  .sampo/changesets/regal-guardian-akka.md
  Cargo.lock
  crates/sampo-core/src/release.rs
  crates/sampo-core/src/workspace.rs
Labels: documentation, dependencies, crt:sampo-core

fix(sampo-core): fix workspace true dependencies handling (#46)
  .sampo/changesets/regal-guardian-akka.md
  Cargo.lock
  crates/sampo-core/src/release.rs
  crates/sampo-core/src/workspace.rs
Labels: documentation, dependencies, crt:sampo-core

feat(sampo-core): ignore packages
  README.md
  crates/sampo-core/src/config.rs
  crates/sampo-core/src/release.rs
  crates/sampo-core/src/release_tests.rs
  crates/sampo/README.md
Labels: documentation, crt:sampo, crt:sampo-core

feat(sampo): use the ignore logic in the cli
  crates/sampo-core/src/filters.rs
  crates/sampo-core/src/lib.rs
  crates/sampo-core/src/release.rs
  crates/sampo/src/add.rs
Labels: crt:sampo, crt:sampo-core

changeset
  .sampo/changesets/cunning-king-hiisi.md
Labels: documentation

internal dependencies config
  .sampo/changesets/jovial-runesmith-mielikki.md
  .sampo/config.toml
  crates/sampo-core/src/config.rs
  crates/sampo-core/src/release_tests.rs
  crates/sampo-github-action/src/sampo.rs
  crates/sampo/README.md
Labels: documentation, crt:sampo, crt:sampo-core, crt:sampo-github-action

fix clippy
  crates/sampo-core/src/filters.rs
Labels: crt:sampo-core

feat(sampo-core): ignore packages (#49)
  .sampo/changesets/cunning-king-hiisi.md
  .sampo/changesets/jovial-runesmith-mielikki.md
  .sampo/config.toml
  README.md
  crates/sampo-core/src/config.rs
  crates/sampo-core/src/filters.rs
  crates/sampo-core/src/lib.rs
  crates/sampo-core/src/release.rs
  crates/sampo-core/src/release_tests.rs
  crates/sampo-github-action/src/sampo.rs
  crates/sampo/README.md
  crates/sampo/src/add.rs
Labels: documentation, crt:sampo, crt:sampo-core, crt:sampo-github-action

refactor(config): drop internal_dependencies section
  .github/ISSUE_TEMPLATE/01-bug-report.yml
  .sampo/changesets/jovial-runesmith-mielikki.md
  .sampo/config.toml
  crates/sampo-core/src/config.rs
  crates/sampo-core/src/release_tests.rs
  crates/sampo-github-action/src/sampo.rs
  crates/sampo/README.md
Labels: documentation, devops, crt:sampo, crt:sampo-core, crt:sampo-github-action

fix(enrichment): preserve code fence when appending acknowledgment
  .sampo/changesets/somber-bard-lempo.md
  crates/sampo-core/src/enrichment.rs
  crates/sampo-core/src/release_tests.rs
Labels: documentation, crt:sampo-core

first draft
  crates/sampo-core/src/lib.rs
  crates/sampo-core/src/markdown.rs
  crates/sampo-core/src/release.rs
  crates/sampo-github-action/src/sampo.rs
Labels: crt:sampo-core, crt:sampo-github-action

better separation
  .sampo/changesets/somber-bard-lempo.md
  crates/sampo-core/src/enrichment.rs
  crates/sampo-core/src/markdown.rs
Labels: documentation, crt:sampo-core

changeset
  .sampo/changesets/somber-seer-ilmarinen.md
Labels: documentation

remove test
  .sampo/changesets/somber-seer-ilmarinen.md
Labels: documentation

feat(markdown): better release message formating (#51)
  .sampo/changesets/somber-bard-lempo.md
  .sampo/changesets/somber-seer-ilmarinen.md
  crates/sampo-core/src/enrichment.rs
  crates/sampo-core/src/lib.rs
  crates/sampo-core/src/markdown.rs
  crates/sampo-core/src/release.rs
  crates/sampo-github-action/src/sampo.rs
Labels: documentation, crt:sampo-core, crt:sampo-github-action

refactor(sampo): better config/readme at init
  .sampo/changesets/fearless-wavetamer-akka.md
  crates/sampo-core/src/changeset.rs
  crates/sampo-core/src/lib.rs
  crates/sampo-core/src/release.rs
  crates/sampo-github-action/src/sampo.rs
  crates/sampo/README.md
  crates/sampo/src/init.rs
Labels: documentation, crt:sampo, crt:sampo-core, crt:sampo-github-action

fix(config): ignore and ignore_unpublished for release and publishing steps
  .sampo/changesets/chivalrous-guardian-lempo.md
  Cargo.lock
  crates/sampo-core/src/publish.rs
  crates/sampo-core/src/release.rs
  crates/sampo/README.md
Labels: documentation, dependencies, crt:sampo, crt:sampo-core

first draft
  AGENTS.md
  Cargo.lock
  crates/sampo-core/src/errors.rs
  crates/sampo-core/src/filters.rs
  crates/sampo-core/src/lib.rs
  crates/sampo-core/src/publish.rs
  crates/sampo-core/src/release.rs
  crates/sampo-core/src/release_tests.rs
  crates/sampo-core/src/workspace.rs
  crates/sampo-github-action/Cargo.toml
  crates/sampo-github-action/src/error.rs
  crates/sampo-github-action/src/git.rs
  crates/sampo-github-action/src/github.rs
  crates/sampo-github-action/src/main.rs
  crates/sampo-github-action/src/sampo.rs
  crates/sampo-github-bot/src/main.rs
  crates/sampo/src/add.rs
  crates/sampo/src/init.rs
  crates/sampo/src/publish.rs
  crates/sampo/src/release.rs
Labels: documentation, dependencies, crt:sampo, crt:sampo-core, crt:sampo-github-action, crt:sampo-github-bot

.github/labeler.yml:

# Configuration for automatic PR labeling
# See: https://github.com/actions/labeler

# Add 'documentation' label to any change in documentation
"documentation":
  - "**/*.md"
  - "docs/**"

# Add 'devops' label to any change in configuration files
"devops":
  - ".github/**"
  - ".vscode/**"
  - ".zed/**"
  - ".editorconfig"
  - ".gitignore"

# Add 'dependencies' label to dependency changes
"dependencies":
  - "**/Cargo.toml"
  - "**/Cargo.lock"

# Add crate/package specific labels
"crt:sampo":
  - "crates/sampo/**"
"crt:sampo-core":
  - "crates/sampo-core/**"
"crt:sampo-github-action":
  - "crates/sampo-github-action/**"
"crt:sampo-github-bot":
  - "crates/sampo-github-bot/**"
