Repository bruits/sampo, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, devops, dependencies, crt:sampo, crt:sampo-core, crt:sampo-github-action, crt:sampo-github-bot

feat(release): implement auto-bump for dependents and update internal dependency versions
  crates/sampo/src/release.rs
Labels: crt:sampo

adapted changelog
  crates/sampo-core/src/lib.rs
  crates/sampo-core/src/release.rs
  crates/sampo-core/src/types.rs
  crates/sampo-github-action/src/sampo.rs
  crates/sampo/README.md
  crates/sampo/src/release.rs
Labels: documentation, crt:sampo, crt:sampo-core, crt:sampo-github-action

fixed dependencies
  crates/sampo-core/src/config.rs
  crates/sampo-core/src/release.rs
  crates/sampo-github-action/src/sampo.rs
  crates/sampo/README.md
  crates/sampo/src/release.rs
Labels: documentation, crt:sampo, crt:sampo-core, crt:sampo-github-action

format
  crates/sampo-core/src/config.rs
  crates/sampo-github-action/src/sampo.rs
  crates/sampo/src/release.rs
Labels: crt:sampo, crt:sampo-core, crt:sampo-github-action

linked mode
  Cargo.lock
  crates/sampo-core/src/config.rs
  crates/sampo-github-action/src/sampo.rs
  crates/sampo/Cargo.toml
  crates/sampo/README.md
  crates/sampo/src/release.rs
Labels: documentation, dependencies, crt:sampo, crt:sampo-core, crt:sampo-github-action

update README
  crates/sampo/README.md
Labels: documentation, crt:sampo

fix review
  crates/sampo/src/release.rs
Labels: crt:sampo

simplify tests
  crates/sampo/src/release.rs
Labels: crt:sampo

break monolithic function
  crates/sampo/Cargo.toml
  crates/sampo/src/lib.rs
  crates/sampo/src/release.rs
Labels: dependencies, crt:sampo

useless deps
  Cargo.lock
  crates/sampo-github-action/Cargo.toml
Labels: dependencies, crt:sampo-github-action

message when bumped due to fixed group policy
  crates/sampo-core/src/lib.rs
  crates/sampo-core/src/release.rs
  crates/sampo-github-action/src/sampo.rs
  crates/sampo/src/release.rs
Labels: crt:sampo, crt:sampo-core, crt:sampo-github-action

format
  crates/sampo-core/src/release.rs
  crates/sampo-github-action/src/sampo.rs
  crates/sampo/src/release.rs
Labels: crt:sampo, crt:sampo-core, crt:sampo-github-action

changesets
  .sampo/changesets/bold-king-louhi.md
  .sampo/changesets/virtuous-queen-ilmatar.md
  README.md
Labels: documentation

detect_all_dependency_explanations (remove some duplication)
  .sampo/changesets/bold-king-louhi.md
  .sampo/changesets/virtuous-queen-ilmatar.md
  crates/sampo-core/src/lib.rs
  crates/sampo-core/src/release.rs
  crates/sampo-github-action/src/sampo.rs
  crates/sampo/src/release.rs
Labels: documentation, crt:sampo, crt:sampo-core, crt:sampo-github-action

rustc-hash
  Cargo.lock
  crates/sampo-core/Cargo.toml
  crates/sampo-core/src/config.rs
  crates/sampo-core/src/release.rs
  crates/sampo-github-action/Cargo.toml
  crates/sampo-github-action/tests/integration.rs
  crates/sampo/Cargo.toml
  crates/sampo/src/release.rs
Labels: dependencies, crt:sampo, crt:sampo-core, crt:sampo-github-action

explicit imports for standard library
  AGENTS.md
  crates/sampo/src/add.rs
  crates/sampo/src/release.rs
Labels: documentation, crt:sampo

enhance build_release_pr_body_from_stdout accept config for dependency explanations
  crates/sampo-github-action/src/main.rs
  crates/sampo-github-action/src/sampo.rs
Labels: crt:sampo-github-action

feat: auto-bump internal dependencies (#18)
  .sampo/changesets/bold-king-louhi.md
  .sampo/changesets/virtuous-queen-ilmatar.md
  AGENTS.md
  Cargo.lock
  README.md
  crates/sampo-core/Cargo.toml
  crates/sampo-core/src/config.rs
  crates/sampo-core/src/lib.rs
  crates/sampo-core/src/release.rs
  crates/sampo-core/src/types.rs
  crates/sampo-github-action/Cargo.toml
  crates/sampo-github-action/src/main.rs
  crates/sampo-github-action/src/sampo.rs
  crates/sampo-github-action/tests/integration.rs
  crates/sampo/Cargo.toml
  crates/sampo/README.md
  crates/sampo/src/add.rs
  crates/sampo/src/lib.rs
  crates/sampo/src/release.rs
Labels: documentation, dependencies, crt:sampo, crt:sampo-core, crt:sampo-github-action

feat: sampo core release
  .sampo/changesets/somber-baron-nyyrikki.md
  .sampo/config.toml
  Cargo.lock
  crates/sampo-core/Cargo.toml
  crates/sampo-core/README.md
  crates/sampo-github-action/CHANGELOG.md
  crates/sampo/CHANGELOG.md
Labels: documentation, dependencies, crt:sampo, crt:sampo-core, crt:sampo-github-action

fix(enrichment): not working due to missing git argument
  .sampo/changesets/somber-iceseeker-vainamoinen.md
  crates/sampo-core/src/enrichment.rs
  crates/sampo-github-action/CHANGELOG.md
  crates/sampo/CHANGELOG.md
Labels: documentation, crt:sampo, crt:sampo-core, crt:sampo-github-action

fix publish :(
  .sampo/changesets/ardent-runesinger-loviatar.md
  Cargo.lock
  crates/sampo-github-action/src/main.rs
  crates/sampo/src/publish.rs
Labels: documentation, dependencies, crt:sampo, crt:sampo-github-action

feat(enrichment): GitHub user info retrieval
  Cargo.lock
  crates/sampo-core/Cargo.toml
  crates/sampo-core/src/enrichment.rs
Labels: dependencies, crt:sampo-core

feat(enrichment): GitHub user info retrieval
  Cargo.lock
  crates/sampo-core/Cargo.toml
  crates/sampo-core/src/enrichment.rs
Labels: dependencies, crt:sampo-core

fix: desperate attempt with the After Release CI before going to sleep
  .sampo/changesets/ardent-runesinger-loviatar.md
  Cargo.lock
  crates/sampo-github-action/src/main.rs
  crates/sampo/Cargo.toml
  crates/sampo/src/publish.rs
Labels: documentation, dependencies, crt:sampo, crt:sampo-github-action

fix: move tests to another file for AI purposes
  Cargo.lock
  crates/sampo/src/main.rs
  crates/sampo/src/release.rs
  crates/sampo/src/release_tests.rs
Labels: dependencies, crt:sampo

feat: move release out of sampo
  AGENTS.md
  crates/sampo-core/src/lib.rs
  crates/sampo-core/src/release.rs
  crates/sampo/src/release.rs
  crates/sampo/src/release_tests.rs
Labels: documentation, crt:sampo, crt:sampo-core

feat: same for publish
  crates/sampo-core/Cargo.toml
  crates/sampo-core/src/lib.rs
  crates/sampo-core/src/publish.rs
  crates/sampo/src/publish.rs
Labels: dependencies, crt:sampo, crt:sampo-core

feat: copy Maudit's CI setup
  .github/workflows/ci.yml
  rust-toolchain.toml
Labels: devops

fix: name
  .github/workflows/ci.yml
Labels: devops

feat: copy Maudit's CI setup (#31)
  .github/workflows/ci.yml
  rust-toolchain.toml
Labels: devops

chore: formatr
  crates/sampo-core/src/publish.rs
  crates/sampo-core/src/release.rs
  crates/sampo-github-action/src/sampo.rs
  crates/sampo/src/add.rs
  crates/sampo/src/release_tests.rs
Labels: crt:sampo, crt:sampo-core, crt:sampo-github-action

feat: move tests
  crates/sampo-core/src/lib.rs
  crates/sampo-core/src/release.rs
  crates/sampo-core/src/release_tests.rs
  crates/sampo/src/main.rs
  crates/sampo/src/release.rs
Labels: crt:sampo, crt:sampo-core

feat: update action to use sampo-core directly
  crates/sampo-core/src/lib.rs
  crates/sampo-core/src/release.rs
  crates/sampo-core/src/release_tests.rs
  crates/sampo-core/src/types.rs
  crates/sampo-github-action/src/sampo.rs
  crates/sampo/src/release.rs
Labels: crt:sampo, crt:sampo-core, crt:sampo-github-action

fix: tweaks
  crates/sampo-github-action/src/sampo.rs
  crates/sampo/src/release.rs
Labels: crt:sampo, crt:sampo-github-action

fix: strange
  crates/sampo-github-action/tests/integration.rs
Labels: crt:sampo-github-action

feat: upload binaries
  crates/sampo-github-action/src/main.rs
Labels: crt:sampo-github-action

feat: update action to use binstall
  crates/sampo-github-action/action.yml
Labels: crt:sampo-github-action

polish publish.rs
  AGENTS.md
  crates/sampo-core/src/publish.rs
  crates/sampo-github-action/src/sampo.rs
  crates/sampo/src/add.rs
Labels: documentation, crt:sampo, crt:sampo-core, crt:sampo-github-action

some doc
  README.md
  crates/sampo-core/src/publish.rs
  crates/sampo/README.md
Labels: documentation, crt:sampo, crt:sampo-core

typo
  README.md
Labels: documentation

.github/labeler.yml:

# Configuration for automatic PR labeling
# See: https://github.com/actions/labeler

# Add 'documentation' label to any change in documentation
"documentation":
  - "**/*.md"
  - "docs/**"

# Add 'devops' label to any change in configuration files
"devops":
  - ".github/**"
  - ".vscode/**"
  - ".zed/**"
  - ".editorconfig"
  - ".gitignore"

# Add 'dependencies' label to dependency changes
"dependencies":
  - "**/Cargo.toml"
  - "**/Cargo.lock"

# Add crate/package specific labels
"crt:sampo":
  - "crates/sampo/**"
"crt:sampo-core":
  - "crates/sampo-core/**"
"crt:sampo-github-action":
  - "crates/sampo-github-action/**"
"crt:sampo-github-bot":
  - "crates/sampo-github-bot/**"
