Repository bruits/sampo, pull requests merged in 2025-09, with the labels that each got.

#17 refactor: sampo core
  .github/labeler.yml
  .sampo/README.md
  Cargo.lock
  README.md
  crates/sampo-core/Cargo.toml
  crates/sampo-core/README.md
  crates/sampo-core/src/changeset.rs
  crates/sampo-core/src/config.rs
  crates/sampo-core/src/enrichment.rs
  crates/sampo-core/src/errors.rs
  crates/sampo-core/src/lib.rs
  crates/sampo-core/src/types.rs
  crates/sampo-core/src/workspace.rs
  crates/sampo-github-action/Cargo.toml
  crates/sampo-github-action/README.md
  crates/sampo-github-action/src/sampo.rs
  crates/sampo-github-bot/Cargo.toml
  crates/sampo/Cargo.toml
  crates/sampo/README.md
  crates/sampo/src/add.rs
  crates/sampo/src/changeset.rs
  crates/sampo/src/config.rs
  crates/sampo/src/enrichment.rs
  crates/sampo/src/init.rs
  crates/sampo/src/lib.rs
  crates/sampo/src/main.rs
  crates/sampo/src/publish.rs
  crates/sampo/src/release.rs
  crates/sampo/src/workspace.rs
Labels: documentation, dependencies, devops

#31 feat: copy Maudit's CI setup
  .github/workflows/ci.yml
  rust-toolchain.toml
Labels: devops

#33 feat(sampo-github-action): upload binaries in github releases
  crates/sampo-github-action/README.md
  crates/sampo-github-action/action.yml
  crates/sampo-github-action/src/main.rs
Labels: documentation, crt:sampo-github-action

#53 refactor: better errors
  .sampo/changesets/pompous-stormcaller-tuoni.md
  AGENTS.md
  Cargo.lock
  crates/sampo-core/src/changeset.rs
  crates/sampo-core/src/config.rs
  crates/sampo-core/src/errors.rs
  crates/sampo-core/src/filters.rs
  crates/sampo-core/src/lib.rs
  crates/sampo-core/src/publish.rs
  crates/sampo-core/src/release.rs
  crates/sampo-core/src/release_tests.rs
  crates/sampo-core/src/workspace.rs
  crates/sampo-github-action/Cargo.toml
  crates/sampo-github-action/src/error.rs
  crates/sampo-github-action/src/git.rs
  crates/sampo-github-action/src/github.rs
  crates/sampo-github-action/src/main.rs
  crates/sampo-github-action/src/sampo.rs
  crates/sampo-github-bot/src/error.rs
  crates/sampo-github-bot/src/main.rs
  crates/sampo/src/add.rs
  crates/sampo/src/init.rs
  crates/sampo/src/main.rs
  crates/sampo/src/publish.rs
  crates/sampo/src/release.rs
Labels: documentation, dependencies, crt:sampo, crt:sampo-github-bot, crt:sampo-github-action, crt:sampo-core

#57 feat: publish binaries
  .github/workflows/publish.yml
  .sampo/changesets/doughty-count-ahti.md
  crates/sampo-github-action/README.md
  crates/sampo-github-action/action.yml
  crates/sampo-github-action/src/github.rs
  crates/sampo-github-action/src/main.rs
Labels: documentation, crt:sampo-github-action, devops

#62 feat(sampo): nicer `sampo add` ux
  .sampo/changesets/majestic-runesmith-ilmatar.md
  Cargo.lock
  crates/sampo-core/src/changeset.rs
  crates/sampo/Cargo.toml
  crates/sampo/src/add.rs
Labels: dependencies, crt:sampo, crt:sampo-core

#66 feat(sampo-core): add branch detection and git configuration
  .sampo/changesets/chivalrous-firebringer-vainamoinen.md
  .sampo/changesets/somber-duke-sampsa.md
  crates/sampo-core/src/config.rs
  crates/sampo-core/src/git.rs
  crates/sampo-core/src/lib.rs
  crates/sampo-core/src/publish.rs
  crates/sampo-core/src/release.rs
  crates/sampo-core/src/release_tests.rs
  crates/sampo-github-action/README.md
  crates/sampo-github-action/src/main.rs
  crates/sampo-github-action/src/sampo.rs
  crates/sampo-github-action/tests/integration.rs
  crates/sampo-github-bot/src/main.rs
  crates/sampo/README.md
Labels: documentation, crt:sampo, crt:sampo-github-bot, crt:sampo-github-action, crt:sampo-core
